<style type="text/css">
a {
   outline: none !important;
}

.homecolor{
	color: #564AA3 !important;
}

.profilecolor{
	color: #27C24C !important;
}

</style>
<div ng-controller="MainController"
	id="headerbar"
	ng-class="{headerbarHide: getLayoutOption('headerBarHidden'), headerbarShow: !getLayoutOption('headerBarHidden')}"
	ng-show="!getLayoutOption('fullscreen')"
	ng-cloak>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-brown">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon glyphicon-star"></i></div>
					</div>
					<div class="tiles-footer">
						Create Post
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-grape">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon glyphicon-user"></i></div>
						<div class="pull-right"><span class="badge">2</span></div>
					</div>
					<div class="tiles-footer">
						Contacts
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-primary">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon glyphicon-envelope"></i></div>
						<div class="pull-right"><span class="badge">10</span></div>
					</div>
					<div class="tiles-footer">
						Messages
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-inverse">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon glyphicon-camera"></i></div>
						<div class="pull-right"><span class="badge">3</span></div>
					</div>
					<div class="tiles-footer">
						Gallery
					</div>
				</a>
			</div>

			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-midnightblue">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon glyphicon-cog"></i></div>
					</div>
					<div class="tiles-footer">
						Settings
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-orange">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon glyphicon-wrench"></i></div>
					</div>
					<div class="tiles-footer">
						Plugins
					</div>
				</a>
			</div>
						
		</div>
	</div>
</div>

<header
	id="topnav"
	class="navbar ng-hide"
	ng-class="{'navbar-fixed-top': getLayoutOption('fixedHeader'), 'navbar-static-top': !getLayoutOption('fixedHeader')}"
	ng-controller="MainController"
	role="banner"
	ng-show="!layoutLoading"
	ng-cloak>

	<ul class="nav navbar-nav pull-left toolbar"> 
	  <!-- <div class="navbar-header" style="background-color: rgb(28, 43, 54);">
		  <h4 style="margin: 15px 15px 8px; color: #C4D0D9 ;  width: 170px;" id ="logonamee"> <i style="margin-right: 5px;" class="fa fa-btc"></i> <b > Beta  Version</b></h4>
		  <h4 style="margin: 15px 15px 8px; color: #C4D0D9 ;  width: 20px; display: none;" id ="logonametwoe"> <i class="fa fa-btc"></i> </h4>
	  </div> -->
	  <div class="navbar-header">
		  <h4 style="margin: 0px 75px; width: 50px;" id ="logonamee"> <img class="img-square" src="assets/images/isologo.png" alt="Logo" style="width: 50px; "></h4>
		  <h4 style="margin: 0px;  width: 50px; display: none;" id ="logonametwoe"> <img class="img-square" src="assets/images/isologo.png" alt="Logo" style="width: 100%;"> </h4>
	  </div>

	  
	</ul>

	
	<a id="leftmenu-trigger" ng-click="toggleLeftBar()"><i class="fa fa-fw fa-dedent" style="color: black; padding: 20px 20px 20px 27px;"></i></a>
	<script type="text/javascript">
		$("#leftmenu-trigger").click(function(){
		    $("#logonamee").toggle();
		    $("#logonametwoe").toggle();
		});
	</script>

	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.4/css/simple-line-icons.css">
	
	
	<div id="aside-user" class="navbar-header pull-left" style="margin: 16px;">
		<a><i class="icon-user " style="color: rgb(0, 0, 0); font-weight: bolder;"></i></a>
	</div>	
	<script type="text/javascript">
		$("#aside-user").click(function(){
		    $("#asideuser").toggle();
		});
	</script>
	 
	 

	<ul class="nav navbar-nav pull-right toolbar">
	
	<li  ng-repeat="data in list">
		  <a href="#/profile"><asd style="color: #000;">{{data.user_name }} </asd> &nbsp;&nbsp;&nbsp;&nbsp;<img class="img-circle" alt="" src="./uploads/{{data.image}}" style="height: 40px; width: 40px; border: 1px solid rgb(0, 0, 0); margin: -15px -5px -15px 20px;"> </a>
		  
	  </li>

	</ul>
</header>
