<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Business</li>
        <li class="active">Apps Builder</li>
    </ol>
    <h1>Apps Builder</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <panel panel-class="panel-sky" heading="Apps Builder">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                  
                </panel-controls>
                
                <br/>
               
                <div class="text-center">
                    <a href="http://apps.xonnova.com/" target="__blank" class="btn btn-info btn-lg">Apps Builder</a>
                </div>
               
            </panel>
          
              
           
        </div>
    </div>
</div> <!-- container-fluid -->



