<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Product </li>
        <li class="active">View Product</li>
    </ol>

    <h1>View Product</h1>
  
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5" align="center" style="float: none; margin: auto;">
            <panel panel-class="panel-sky" heading="View Product">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                  
                </panel-controls>
				
                <br/>
               <!--  <div ng-show="user_package_name != 'Total System'"><h3>Your Package is Not Total System !</h3> </div>
                <div ng-hide="user_package_name != 'Total System'" >
                    <div ng-show="user_is_buy_promo_pack != 'no'"><h3>only one Promo Pack!</h3> </div> -->
                   <!--  <div ng-hide="user_is_buy_promo_pack != 'no'" > -->
                   <div>
                        <div>Product Name: Promo Pack<br><br>
                            <img alt="NoImage" src="assets/uploads/product_151026020610sim_card_PNG9299.png" style="height: 200px;">
                            <br><br>
                            Price: $299<br><br>
                            Shipping Price: $0 <br><br>
                           
                             Promo Pack<br><br>


                             <form role="form" name="myForm"  class="form-horizontal" >
                               
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">Total: $299 Store Credit Deducted From Your Account</div>
                                </div> 
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <button type="submit" class="finish btn-primary btn-sm "  ng-click="buy()">Buy</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            
                        


                        </div>
                    </div>
 
              <!--   </div> -->
               
            </panel>
        </div>
    </div>
</div> <!-- container-fluid -->
