<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Product </li>
        <li class="active">View Product</li>
    </ol>

    <h1>View Product</h1>
    <div class="options">
        <div class="btn-toolbar">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                    Export as <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5" align="center" style="float: none; margin: auto;">
            <panel panel-class="panel-sky" heading="View Product">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                  
                </panel-controls>
				
                <br/>
                <div ng-repeat="data in buyASimResellerHtml" >
                    <div>Product Name: {{data.product_name}}<br><br>
                        <img alt="NoImage" src="assets/uploads/{{data.product_image}}" style="height: 200px;">
                        <br><br>
                        Price: ${{levelprice}}<br><br>

                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Shipping Method :</label>
                            <div class="col-md-6">
                                <select class="form-control" name="shipping_method" ng-model="data.shipping_method" required ng-change="onchangeqty(data.qty, data.shipping_method)">
                                    <option value="">Select shipping method</option>
                                    <option value="PRIORITY">PRIORITY</option>
                                    <option value="FIRST CLASS">FIRST CLASS</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <br>
                        <!-- Shipping Price: ${{data.shipping_price}} for one <br><br> -->
                        Shipping Price: FIRST CLASS $3.97 for one and $1 for each extra QTY<br>
                        PRIORITY $9.97 Flat<br><br>
                         {{data.product_desc}}<br><br>


                         <form role="form" name="myForm"  class="form-horizontal" >
                            <div class="form-group">
                                <label for="fieldpass" class="col-md-3 control-label">Qty:</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" ng-model="data.qty" required ng-change="onchangeqty(data.qty, data.shipping_method)"> 
                                  
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">Total: <div ng-show="totalprice != 2.97 && totalprice != 9.97 ">{{totalprice}}</div>Store Credit Deducted From Your Account</div>
                            </div> 
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <button type="submit" class="finish btn-primary btn-sm " ng-disabled=" myForm.$invalid" ng-click="buy(data)">Buy</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        
                    


                    </div>
 
                </div>
               
            </panel>
        </div>
    </div>
</div> <!-- container-fluid -->
