    <div id="page-heading">
        <ul class="breadcrumb">
            <li><a href="#/">Dashboard</a></li>
            <li>Account</li>
            <li class="active">Deactivate  Subscription</li>
        </ul>

        <h1>Deactivate  Subscription</h1>
    </div>

    <div class="container-fluid">

        <panel panel-class="panel-midnightblue" heading="Deactivate  Subscription">
            <panel-controls>
                <panel-control-collapse></panel-control-collapse>
            </panel-controls>
           
           <!--  <div class="form-group" id="message"></div> -->
            <form class="form-horizontal row-border"  enctype="multipart/form-data" name="deavtivateForm" >
               <!--  <div class="form-group">
                            <label for="fieldpass" class="col-sm-6 col-sm-offset-3 control-label"></label>
                </div> -->
                <h1 align="center">Deactivate Subscription</h1>
                 <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="btn-toolbar" align="center">
                                <button type="submit" class="btn-primary btn"  ng-click="deactivate();">submit</button>
                            </div>
                        </div>
                    </div>
                </div>


            </form>
           
            
        </panel>
    </div> <!-- container-fluid -->