    <div id="page-heading">
        <ul class="breadcrumb">
            <li><a href="#/">Dashboard</a></li>
            <li>Deposit</li>
            <li class="active">Deposit List</li>
        </ul>

        <h1>Deposit List</h1>
    </div>

    <div class="container-fluid">

        <panel panel-class="panel-midnightblue" heading="Deposit List">
            <form class="form-horizontal row-border" name="cashoutForm">
            	 <div class="row">
                     <div class="col-md-2">PageSize:
                        <select ng-model="entryLimit" class="form-control">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                  
                    <div class="col-md-3">Filter:
                        <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                    </div>
                   
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID<a ng-click="sort_by('deposit_id');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Image proof<a ng-click="sort_by('deposit_image');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Transaction Id<a ng-click="sort_by('transaction_id');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Date of deposit<a ng-click="sort_by('date_of_deposit');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Bank deposit<a ng-click="sort_by('bank_deposit');"><i class="glyphicon glyphicon-sort"></i></a></th>
                               
                                <th>Deposit Status<a ng-click="sort_by('deposit_status');"><i class="glyphicon glyphicon-sort"></i></a></th>
                               
                             
                               
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in filtered = (depositList | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td align="left">{{data.deposit_id}}</td>
                                 <td><img class="img-circle" alt="Dangerfield" src="uploads/{{data.deposit_image}}" style="height: 70px; width: 70px;"></td>
                                <td>{{data.transaction_id}}</td>
                                <td>{{data.date_of_deposit}}</td>
                                <td>{{data.bank_deposit}}</td>
								
                                <td>{{data.deposit_status}}</td>
                         
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" ng-show="filteredItems == 0">
                    <div class="col-md-12">
                        <h4>No found</h4>
                    </div>
                </div>
                <div class="col-md-12" ng-show="filteredItems > 0">    
                    <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>  
                </div>
            </form>
        </panel>
    </div> <!-- container-fluid -->
