<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Ether Wallet</li>
        <li class="active">Ether Wallet Report</li>
    </ol>

    <h1>Ether Wallet Report</h1>
   
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <panel panel-class="panel-sky" heading="Ether Wallet Report">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                    <button class="button-icon"><i class="glyphicon glyphicon-cog"></i></button>
                    <button class="button-icon"><i class="glyphicon glyphicon-wrench"></i></button> 
                </panel-controls>
                <div class="row">
                     <div class="col-md-2">PageSize:
                        <select ng-model="entryLimit" class="form-control">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>                  
                    <div class="col-md-3">Filter:
                        <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                    </div>                   
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID<a ng-click="sort_by('credit_v_id');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Type<a ng-click="sort_by('wallet_type');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Message<a ng-click="sort_by('message');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Amount<a ng-click="sort_by('credit');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Date<a ng-click="sort_by('wallet_credited_at');"><i class="glyphicon glyphicon-sort"></i></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in filtered = (etherWalletReportListByUser | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td>{{data.credit_v_id}}</td>
                                <td ng-show="data.wallet_type =='1'">Credit Amount</td>
                                <td ng-show="data.wallet_type =='2'">Deduct Amount</td>
                                <td align="left">{{data.message | limitTo: 100}}</td>
                                <td>{{data.credit}}</td>
                                <td>{{data.wallet_credited_at}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" ng-show="filteredItems == 0">
                    <div class="col-md-12">
                        <h4>Not  found</h4>
                    </div>
                </div>
                <div class="col-md-12" ng-show="filteredItems > 0">    
                    <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>  
                </div>
            </panel>
        </div>
    </div>
</div> <!-- container-fluid -->
