<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>



    <h1 >Dashboard</h1>

    
    <div class="options" >
        <div class="btn-toolbar">
            <div class="btn-group" dropdown>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="wrapper-md ng-scope">
        <div class="row">
            <div class="col-md-10">
                <div class="row row-sm text-center">
                    <div class="col-sm-4">
                        <div class="panel padder-v item">
                            <a  href="#/top-sponsor-user-list" >
                                <div class="h1 text-info font-thin h1">
                                    Top Performers
                                </div>
                                <span class="text-muted text-xs">Top Performers</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="block panel padder-v bg-primary item">
                            <a  href="#/reward-points">
                                <div class="text-white font-thin h1 block">
                                    Rewards
                                </div>
                                <span class="text-muted text-xs">Rewards</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel padder-v bg-light dker item">
                            <a  href="#/view-news-list">
                                <div class="text-primary-dk font-thin h1">
                                    News
                                </div>
                                <span class="text-muted text-xs">News</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="block panel padder-v bg-primary item">
                            <a href="#/user-new-product-order-summary">
                                <div class="text-white font-thin h1 block">
                                    New Orders
                                </div>
                                <span class="text-muted text-xs">New Orders</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel padder-v bg-light dker item">
                            <a href="#/order-status">
                                <div class="text-primary-dk font-thin h1">
                                    Shipped Package
                                </div>
                                <span class="text-muted text-xs">Shipped Package</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel padder-v bg-info item">
                            <a href="#/earnings">
                                <div class="text-white font-thin h1 block">
                                    Total Earning
                                </div>
                                <span class="text-muted text-xs">Total Earning</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel padder-v bg-light dker item">
                            <a href="#/board-view">
                                <div class="text-primary-dk font-thin h1">
                                    Holding Tank
                                </div>
                                <span class="text-muted text-xs">{{totalHoldingTank}}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel padder-v bg-info item">
                            <a href="#/personal-referrals">
                                <div class="text-white font-thin h1 block">
                                    Total Member
                                </div>
                                <span class="text-muted text-xs">{{totalMember}}</span>
                            </a>
                        </div>
                    </div>
                   
                   
                        </panel>
                    </div>
                </div>
            </div>

           

         </div><!-- row -->
    </div><!-- wrapper -->
</div><!-- container fluid -->

