    <div id="page-heading">
        <ul class="breadcrumb">
            <li><a href="#/">Dashboard</a></li>
            <li>Leads</li>
            <li class="active">Leads List</li>
        </ul>
        <h1>Leads List</h1>
    </div>
    <div class="container-fluid">
        <panel panel-class="panel-midnightblue" heading="Leads List">
            <form class="form-horizontal row-border" name="cashoutForm">
                 <div class="row">
                     <div class="col-md-2">PageSize:
                        <select ng-model="entryLimit" class="form-control">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                  
                    <div class="col-md-3">Filter:
                        <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                    </div>
                    <div class="col-sm-6">
                        <form name="searchForm"><br/>
                            <div class="col-sm-5">
                               <input type="text"  placeholder="From Date"  class="form-control" pickadate ng-model="dateRangeSearch.from_date" readonly/> 
                            </div>
                            <div class="col-sm-5">
                                <input type="text"  placeholder="To Date"  class="form-control" pickadate ng-model="dateRangeSearch.to_date" readonly />
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn-primary btn" ng-click="update(dateRangeSearch);">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Site Name<a ng-click="sort_by('site_name');"><i class="glyphicon glyphicon-sort"></i></th>
                                <th>User Name<a ng-click="sort_by('user_name');"><i class="glyphicon glyphicon-sort"></i></th>
                                <th>Phone #<a ng-click="sort_by('user_phone');"><i class="glyphicon glyphicon-sort"></i></th>
                                <th>Email<a ng-click="sort_by('user_email');"><i class="glyphicon glyphicon-sort"></i></th>
                                <th>DateTime<a ng-click="sort_by('s_l_time');"><i class="glyphicon glyphicon-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in filtered = (getMarketingLeadsHtml | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td align="left">{{data.site_name}}</td>
								<td>{{data.user_name}}</td>
                                <td>{{data.user_phone}}</td>
                                <td>{{data.user_email}}</td>
                                <td>{{data.s_l_time}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" ng-show="filteredItems == 0">
                    <div class="col-md-12">
                        <h4>No Leads found</h4>
                    </div>
                </div>
                <div class="col-md-12" ng-show="filteredItems > 0">    
                    <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>  
                </div>
            </form>
        </panel>
    </div> <!-- container-fluid -->
