<style type="text/css">

.share-btn {
	font-size: large;
    display: inline-block;
    color: #ffffff;
    border: none;
    /*padding: 0.5em;*/
    width: 5em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}

.share-btn:hover {
  color: #eeeeee;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

.share-btn.twitter     { background: #55acee; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook    { background: #3B5998; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.email       { background: #444444; }
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
	</ol>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6" align="center" style="float: none; margin: auto;">
			<div class="panel panel-default panel-profile">
				<div class="panel-body user-profile" >
					<div class="user-detail">
						<div>
							<a ng-href="http://www.legacyexplosion.com/?ref={{htmlUserName}}" target="__blank" >http://www.legacyexplosion.com/?ref={{htmlUserName}}</a>
						</div>

<div class="row">
<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.legacyexplosion.com/?ref={{htmlUserName}}" target="_blank" class="share-btn facebook" >
   <i class="fa fa-facebook-official"> Share</i> 
</a>
</div>
					</div>
				</div>
				
        	</div>
		</div>
	</div>


</div>



