<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Voucher  </li>
    </ol>
    <h1> Voucher  </h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" align="center" style="float: none; margin: auto;">
            <panel panel-class="panel-sky" heading=" Voucher  ">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Voucher #</th>
                            </tr>
                        </thead>
                        <hr>
                        <tbody>
                            <tr ng-repeat="data in htmlVoucherList" >
                                <td>{{data.voucher_no}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- <form role="form" name="myForm"   class="form-horizontal" enctype="multipart/form-data"  >

                                <div class="form-group">
                                    <label for="fieldname" class="col-md-3 control-label">Shipping Method :</label>
                                    <div class="col-md-6">
                                        <select class="form-control" name="shipping_method" ng-model="user.shipping_method" required ng-change="onchangevoucher(user.voucher, user.shipping_method)">
                                            <option value="">Select shipping method</option>
                                            <option value="PRIORITY">PRIORITY</option>
                                            <option value="FIRST CLASS">FIRST CLASS</option>
                                        </select>
                                        <span style="color:#B4270F" ng-show=" myForm.shipping_method.$error.required">Required !</span> 
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label for="fieldname" class="col-md-3 control-label"></label>
                                    <div class="col-md-6">
                                        FIRST CLASS $3.97 for one and $1 for each extra voucher<br>
                                PRIORITY $9.97 Flat<br>
                                <br>

                                    <strong>Select MAX 5 Voucher #</strong>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label"> Voucher #</label>
                                    <div class="col-md-6">
                                        <select multiple class="form-control" name="voucher" ng-model="user.voucher" required style="height:100px" ng-change="onchangevoucher(user.voucher, user.shipping_method)">
                                          
                                            <option ng-repeat="total in htmlVoucherList" value="{{total.voucher_id}}">{{total.voucher_no}}</option>
                                        </select>
                                        <span style="color:#B4270F" ng-show=" myForm.voucher.$error.required">Required !</span>
                                    </div>
                                   
                                </div>
                                
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Shipping </label>
                                    <div class="col-md-2 "><div class="form-control">$ {{shippingCast | limitTo : 5}}</div></div>
                                </div>
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label" style="color: red;"> Total Activation price</label>
                                    <div class="col-md-2 "><div class="form-control">$ {{activationCast | limitTo : 5}}</div></div>
                                    <div class="col-md-2 "><div class="form-control">$ 15 each</div></div>
                                </div>
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label" style="color: red;">Total payable price</label>
                                    <div class="col-md-2 "><div class="form-control">$ {{totalCast | limitTo : 5}}</div></div>
                                </div>
              
                              
                         

                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Card No.</label>
                                    <div class="col-md-6">
                                        <input id="card-no" class="form-control"  type="text" name="card_no" ng-model="user.card_no" placeholder= "Enter card no." ng-pattern="/[0-9]/" required>
                                        <span style="color:#B4270F" ng-show=" myForm.card_no.$error.required">Required !</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Expiry Date</label>
                                    <div class="col-md-2">
                                        <select  name="expiry_month" ng-model="user.expiry_month" class="form-control" required>
                                            <option value="">mm</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                        <span style="color:#B4270F" ng-show=" myForm.expiry_month.$error.required">Required !</span>
                                    </div>
                                    <div class="col-md-4">    
                                        <select name="expiry_year" ng-model="user.expiry_year" class="form-control" required>
                                            <option value="">yyyy</option>
                                            <option value="2015">2015</option>
                                            <option value="2016">2016</option>
                                            <option value="2017">2017</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                            <option value="2025">2025</option>
                                            <option value="2026">2026</option>
                                            <option value="2027">2027</option>
                                            <option value="2028">2028</option>
                                            <option value="2029">2029</option>
                                            <option value="2030">2030</option>
                                            <option value="2031">2031</option>
                                            <option value="2032">2032</option>
                                            <option value="2033">2033</option>
                                            <option value="2034">2034</option>
                                            <option value="2035">2035</option>
                                            <option value="2036">2036</option>
                                            <option value="2037">2037</option>
                                            <option value="2038">2038</option>
                                            <option value="2039">2039</option>
                                            <option value="2040">2040</option>
                                            <option value="2041">2041</option>
                                            <option value="2042">2042</option>
                                            <option value="2043">2043</option>
                                            <option value="2044">2044</option>
                                            <option value="2045">2045</option>
                                            <option value="2046">2046</option>
                                            <option value="2047">2047</option>
                                            <option value="2048">2048</option>
                                            <option value="2049">2049</option>
                                            <option value="2050">2050</option>
                                        </select>
                                        <span style="color:#B4270F" ng-show=" myForm.expiry_year.$error.required">Required !</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">CVV No.</label>
                                    <div class="col-md-6">
                                        <input id="cvv-no" class="form-control" name="cvv_no" type="text" ng-model="user.cvv_no" placeholder= "Enter CVV No." ng-pattern="/[0-9]/" required>
                                        <span style="color:#B4270F" ng-show=" myForm.cvv_no.$error.required">Required !</span>
                                    </div>
                                </div>
                              
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label"></label>
                                    <div class="col-md-6"><div id="message"></div>
                                    </div>                       
                                </div>

					<div class="panel-footer">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
									<button type="submit" class="finish btn-success btn pull-right"  ng-disabled=" myForm.$invalid" ng-click="submit(user);">Pay Now</button>
							</div>
						</div>
					</div>                     
                </form> -->
            </panel>
        </div>
    </div>
</div>
