<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Business</li>
        <li class="active">Refer A Store</li>
    </ol>
    <h1>Instructions</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <panel panel-class="panel-sky" heading="Instructions">
               <h3> Thank you for referring a store. </h3>
			   <p> The Store owner will recieve an email along with Login information to complete the process. Once the Agreement has been completed by the store owner, we will review it and send an activation email to complete the onboarding process.</p>
            </panel>
        </div>
    </div>
</div>
