<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Activate Platform</li>
    </ol>
    <h1>Activate Platform</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <panel panel-class="panel-sky" heading="Activate Platform Form">
                <panel-controls>
                    <button class="button-icon"><i class="glyphicon glyphicon-cog"></i></button>
                    <button class="button-icon"><i class="glyphicon glyphicon-wrench"></i></button> 
                </panel-controls>

                <form role="form" name="myForm"   class="form-horizontal" enctype="multipart/form-data"  >
                        <!-- <fieldset  ng-repeat="data in profileList">
                            <legend>Member</legend>
                            <div class="form-group">
                                <label for="fieldname" class="col-md-3 control-label">Member ID</label>
                                <div class="col-md-6">
                                    <input class="form-control" ng-model="data.user_id"  type="text" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fieldname" class="col-md-3 control-label">Member Name</label>
                                <div class="col-md-6">
                                    <input  class="form-control" ng-model="data.user_name"  type="text" readonly>
                                </div>
                            </div>
                             <div class="form-group">
                                <label for="fieldname" class="col-md-3 control-label">Member Phone</label>
                                <div class="col-md-6">
                                    <input class="form-control" ng-model="data.contact_no"  type="text" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fieldname" class="col-md-3 control-label">Member Email</label>
                                <div class="col-md-6">
                                    <input  class="form-control" ng-model="data.user_email"  type="text" readonly>
                                </div>
                            </div>
                            
                           
                        </fieldset> -->
                        <fieldset  >
                           <!--  <legend>Question #1</legend> -->
                            
                            <div class="form-group">
                                <label for="fieldpass" class="col-md-3 control-label">  Company</label>
                                <div class="col-md-6">
                                   <div class="form-control"> SmartMark</div>
                                   <!--  <select id="q2" class="form-control"  type="text" name="q2" ng-model="user.q2" required>
                                         <option value="">Select</option>
                                        <option value="1">SmartMark</option>
                                        <option value="2">Simple Mobile</option>
                                    </select> -->
                                </div>
                            </div>
                        </fieldset>
                        <div >
                            <fieldset >
                              <!--   <legend>Question #2</legend> -->
                                
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">SmartMark Plan</label>
                                    <div class="col-md-6">
                                        <div class="form-control">  Subsidized plan $0/month</div>
                                       
                                        <!-- <select id="attq3" class="form-control" name="attq3" type="text" ng-model="user.attq3" ng-required="user.q2 == '1'">
                                            <option value="">Select</option>
                                           <option value="100">Subsidized plan $0/month</option>
                                        </select>  -->
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset >
                               <!--  <legend>Question #3</legend> -->
                                
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Total due today</label>
                                    <div class="col-md-6">
                                        <div class="form-control"> $ 10.00 + $ 3.97 Shipping</div>
                                        
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Race</label>
                                    <div class="col-md-6">
                                        <select  class="form-control" name="race" type="text" ng-model="user.race" required>
                                            <option value="">Select</option>
                                            <option value="White">White</option>
                                            <option value="African American">African American</option>
                                            <option value="Hispanic">Hispanic</option>
                                            <option value="Asian">Asian</option>
                                            <option value="European">European</option>
                                            <option value="Native American">Native American</option>
                                            <option value="Phillipine">Phillipine</option>

                                        </select> 
                                        <span style="color:#B4270F" ng-show=" myForm.race.$error.required">Required !</span> 
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Gender</label>
                                    <div class="col-md-6">
                                        <select  class="form-control" name="gender" type="text" ng-model="user.gender" required>
                                            <option value="">Select</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                          
                                                 
                                        </select> 
                                        <span style="color:#B4270F" ng-show=" myForm.gender.$error.required">Required !</span> 
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Preferred language?</label>
                                    <div class="col-md-6">
                                        <select  class="form-control" name="pref_lang" type="text" ng-model="user.pref_lang" required>
                                            <option value="">Select</option>
                                            <option value="English">English</option>
                                            <option value="Spanish">Spanish</option>
                                        </select>
                                        <span style="color:#B4270F" ng-show=" myForm.pref_lang.$error.required">Required !</span>  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Home owner?</label>
                                    <div class="col-md-6">
                                        <select  class="form-control" name="home_owner" type="text" ng-model="user.home_owner" required>
                                            <option value="">Select</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select> 
                                        <span style="color:#B4270F" ng-show=" myForm.home_owner.$error.required">Required !</span>  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Business  owner?</label>
                                    <div class="col-md-6">
                                        <select  class="form-control" name="bus_owner" type="text" ng-model="user.bus_owner" required>
                                            <option value="">Select</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select> 
                                        <span style="color:#B4270F" ng-show=" myForm.bus_owner.$error.required">Required !</span> 
                                    </div>
                                </div>

                                <div class="form-group" ng-show="user.bus_owner == 'Yes'">
                                    <label for="fieldpass" class="col-md-3 control-label">Industry</label>
                                    <div class="col-md-6">
                                        <input  class="form-control" name="industry" ng-model="user.industry"  type="text" placeholder= "Enter Industry" ng-pattern="/[a-zA-Z]/" minlength="2" ng-required="user.bus_owner == 'Yes'">
                                        <span style="color:#B4270F" ng-show=" myForm.industry.$error.required">Required !</span> 
                                       
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="fieldname" class="col-md-3 control-label">Voucher # </label>
                                    <div class="col-md-6">
                                        <input  class="form-control" name="attpin" ng-model="user.attpin"  type="text" placeholder= "Enter Voucher #"  required>
                                        <span style="color:#B4270F" ng-show=" myForm.attpin.$error.required">Required !</span> 
                                    </div>
                                </div>

                               <!--  <div class="form-group">
                                    <label for="fieldname" class="col-md-3 control-label">IMEI # </label>
                                    <div class="col-md-6">
                                        <input  class="form-control" ng-model="user.imei"  type="text" placeholder= "Enter IMEI #"  required>
                                    </div>
                                </div> -->
                                
                                 <div class="form-group">
                                    <label for="fieldname" class="col-md-3 control-label">What area code would you like</label>
                                    <div class="col-md-6">
                                        <input  class="form-control" name="area_code" ng-model="user.area_code"  type="text" placeholder= "Enter area code .. only 3 digits" ng-pattern="/[0-9]/" minlength="3" maxlength="3" required>
                                        <span style="color:#B4270F" ng-show=" myForm.area_code.$error.required">Required !</span>
                                    </div>
                                </div>
                              
                                 <div class="form-group">
                                    <label for="fieldname" class="col-md-3 control-label">First Name</label>
                                    <div class="col-md-6">
                                        <input id="f-name" class="form-control" name="first_name" ng-model="user.first_name"  type="text" placeholder= "Enter First Name" ng-pattern="/[a-zA-Z]/" minlength="2" required>
                                        <span style="color:#B4270F" ng-show=" myForm.first_name.$error.required">Required !</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fieldname" class="col-md-3 control-label">Middle Name</label>
                                    <div class="col-md-6">
                                        <input id="m-name" class="form-control" ng-model="user.middle_name" ng-pattern="/[a-zA-Z]/" minlength="1" type="text" placeholder= "Enter Middle Name">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fieldname" class="col-md-3 control-label">Last Name</label>
                                    <div class="col-md-6">
                                        <input id="l-name" class="form-control" name="last_name" ng-model="user.last_name" ng-pattern="/[a-zA-Z]/" minlength="1" type="text" placeholder= "Enter Last Name" required>
                                        <span style="color:#B4270F" ng-show=" myForm.last_name.$error.required">Required !</span>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fieldname" class="col-md-3 control-label">Phone Number</label>
                                    <div class="col-md-6">
                                        <input  class="form-control" name="attphone" ng-model="user.attphone"  type="text" placeholder= "Enter Phone Number" ng-pattern="/[0-9]/" required>
                                        <span style="color:#B4270F" ng-show=" myForm.attphone.$error.required">Required !</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Address 1</label>
                                    <div class="col-md-6">
                                        <input id="address1" class="form-control"  name="address1" type="text" ng-model="user.address1" placeholder= "Enter Address" required>
                                        <span style="color:#B4270F" ng-show=" myForm.address1.$error.required">Required !</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Address 2</label>
                                    <div class="col-md-6">
                                        <input id="address2" class="form-control"  type="text" ng-model="user.address2" placeholder= "Enter Address" >

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">City</label>
                                    <div class="col-md-6">
                                        <input id="city" class="form-control" name="city"  type="text" ng-model="user.city" placeholder= "Enter City" required>
                                        <span style="color:#B4270F" ng-show=" myForm.city.$error.required">Required !</span>
                                    </div>
                                </div>
                              
                                 <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">State</label>
                                    <div class="col-md-6">
                                        <select id="state" class="form-control" name="state"  type="text" ng-model="user.state" required>
                                            <option value="">Select State</option>
                                             <option value="Alabama">Alabama</option>
                                             <option value="Arizona">Arizona</option>
                                             <option value="Arkansas">Arkansas</option>
                                             <option value="California">California</option>
                                             <option value="Colorado">Colorado</option>
                                             <option value="Connecticut">Connecticut</option>
                                             <option value="Delaware">Delaware</option>
                                             <option value="Florida">Florida</option>
                                             <option value="Georgia">Georgia</option>
                                             <option value="Idaho">Idaho</option>
                                             <option value="Illinois">Illinois</option>
                                             <option value="Indiana">Indiana</option>
                                             <option value="Iowa">Iowa</option>
                                             <option value="Kansas">Kansas</option>
                                             <option value="Kentucky">Kentucky</option>
                                             <option value="Louisiana">Louisiana</option>
                                             <option value="Maine">Maine</option>
                                             <option value="Maryland">Maryland</option>
                                             <option value="Massachusetts">Massachusetts</option>
                                             <option value="Michigan">Michigan</option>
                                             <option value="Minnesota">Minnesota</option>
                                             <option value="Mississippi">Mississippi</option>
                                             <option value="Missouri">Missouri</option>
                                             <option value="Montana">Montana</option>
                                             <option value="Nebraska">Nebraska</option>
                                             <option value="Nevada">Nevada</option>
                                             <option value="New Hampshire">New Hampshire</option>
                                             <option value="New Jersey">New Jersey</option>
                                             <option value="New Mexico">New Mexico</option>
                                             <option value="New York">New York</option>
                                             <option value="North Carolina">North Carolina</option>
                                             <option value="North Dakota">North Dakota</option>
                                             <option value="Ohio">Ohio</option>
                                             <option value="Oklahoma">Oklahoma</option>
                                             <option value="Oregon">Oregon</option>
                                             <option value="Pennsylvania">Pennsylvania</option>
											 <option value="Puerto Rico">Puerto Rico</option>
                                             <option value="Rhode Island">Rhode Island</option>
                                             <option value="South Carolina">South Carolina</option>
                                             <option value="South Dakota">South Dakota</option>
                                             <option value="Tennessee">Tennessee</option>
                                             <option value="Texas">Texas</option>
                                             <option value="Utah">Utah</option>
                                             <option value="Vermont">Vermont</option>
                                             <option value="Virginia">Virginia</option>
                                             <option value="Washington">Washington</option>
                                             <option value="West Virginia">West Virginia</option>
                                             <option value="Wisconsin">Wisconsin</option>
                                             <option value="Wyoming">Wyoming</option>

                                      </select>
                                      <span style="color:#B4270F" ng-show=" myForm.state.$error.required">Required !</span>
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label for="fieldname" class="col-md-3 control-label">Country</label>
                                    <div class="col-md-6">
                                        <div class="form-control"> USA</div>
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Zip</label>
                                    <div class="col-md-6">
                                        <input id="zip" class="form-control" name="zip"  type="text"ng-model="user.zip" placeholder= "Enter ZIP Code" minlength="2" ng-pattern="/[0-9]/" required>
                                        <span style="color:#B4270F" ng-show=" myForm.zip.$error.required">Required !</span>
                                    </div>
                                </div>
								
								<div class="form-group">
                                    <label for="fieldname" class="col-md-3 control-label">Shipping Address Same as  Activation address </label>
                                    <div class="col-md-6" >
                                       
                                          <input type="radio" ng-click="user.s_address1 = user.address1 ; user.s_address2 = user.address2 ; user.s_city = user.city ; user.s_state = user.state ; user.s_zip = user.zip ;" ng-model="user.type_lead"  value="Hot" >
                                     
                                      yes
                                      
                                          <input type="radio" ng-click="user.s_address1 = ''; user.s_address2 = '' ; user.s_city = '' ; user.s_state ='' ; user.s_zip = '' ;" ng-model="user.type_lead"  value="Warm" >
                                     
                                       no
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Shipping Address 1</label>
                                    <div class="col-md-6">
                                        <input  class="form-control" name="s_address1" type="text" ng-model="user.s_address1" placeholder= "Enter Address" required>
                                        <span style="color:#B4270F" ng-show=" myForm.s_address1.$error.required">Required !</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Shipping Address 2</label>
                                    <div class="col-md-6"><input  class="form-control"  type="text" ng-model="user.s_address2" placeholder= "Enter Address" ></div>
                                </div>
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Shipping City</label>
                                    <div class="col-md-6">
                                        <input  class="form-control" name="s_city" type="text" ng-model="user.s_city" placeholder= "Enter City" required>
                                        <span style="color:#B4270F" ng-show=" myForm.s_city.$error.required">Required !</span>

                                    </div>
                                </div>
                              
                                 <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Shipping State</label>
                                    <div class="col-md-6">
                                        <select  class="form-control" name="s_state" type="text" ng-model="user.s_state" required>
                                            <option value="">Select State</option>
                                             <option value="Alabama">Alabama</option>
                                             <option value="Arizona">Arizona</option>
                                             <option value="Arkansas">Arkansas</option>
                                             <option value="California">California</option>
                                             <option value="Colorado">Colorado</option>
                                             <option value="Connecticut">Connecticut</option>
                                             <option value="Delaware">Delaware</option>
                                             <option value="Florida">Florida</option>
                                             <option value="Georgia">Georgia</option>
                                             <option value="Idaho">Idaho</option>
                                             <option value="Illinois">Illinois</option>
                                             <option value="Indiana">Indiana</option>
                                             <option value="Iowa">Iowa</option>
                                             <option value="Kansas">Kansas</option>
                                             <option value="Kentucky">Kentucky</option>
                                             <option value="Louisiana">Louisiana</option>
                                             <option value="Maine">Maine</option>
                                             <option value="Maryland">Maryland</option>
                                             <option value="Massachusetts">Massachusetts</option>
                                             <option value="Michigan">Michigan</option>
                                             <option value="Minnesota">Minnesota</option>
                                             <option value="Mississippi">Mississippi</option>
                                             <option value="Missouri">Missouri</option>
                                             <option value="Montana">Montana</option>
                                             <option value="Nebraska">Nebraska</option>
                                             <option value="Nevada">Nevada</option>
                                             <option value="New Hampshire">New Hampshire</option>
                                             <option value="New Jersey">New Jersey</option>
                                             <option value="New Mexico">New Mexico</option>
                                             <option value="New York">New York</option>
                                             <option value="North Carolina">North Carolina</option>
                                             <option value="North Dakota">North Dakota</option>
                                             <option value="Ohio">Ohio</option>
                                             <option value="Oklahoma">Oklahoma</option>
                                             <option value="Oregon">Oregon</option>
                                             <option value="Pennsylvania">Pennsylvania</option>
											 <option value="Puerto Rico">Puerto Rico</option>
                                             <option value="Rhode Island">Rhode Island</option>
                                             <option value="South Carolina">South Carolina</option>
                                             <option value="South Dakota">South Dakota</option>
                                             <option value="Tennessee">Tennessee</option>
                                             <option value="Texas">Texas</option>
                                             <option value="Utah">Utah</option>
                                             <option value="Vermont">Vermont</option>
                                             <option value="Virginia">Virginia</option>
                                             <option value="Washington">Washington</option>
                                             <option value="West Virginia">West Virginia</option>
                                             <option value="Wisconsin">Wisconsin</option>
                                             <option value="Wyoming">Wyoming</option>

                                      </select>
                                      <span style="color:#B4270F" ng-show=" myForm.s_state.$error.required">Required !</span>
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label for="fieldname" class="col-md-3 control-label">Shipping Country</label>
                                    <div class="col-md-6">
                                        <div class="form-control"> USA</div>
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Shipping Zip</label>
                                    <div class="col-md-6">
                                        <input  class="form-control"  name="s_zip" type="text"ng-model="user.s_zip" placeholder= "Enter ZIP Code" minlength="2" ng-pattern="/[0-9]/" required>
                                        <span style="color:#B4270F" ng-show=" myForm.s_zip.$error.required">Required !</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Card No.</label>
                                    <div class="col-md-6">
                                        <input id="card-no" class="form-control" name="card_no"  type="text" ng-model="user.card_no" placeholder= "Enter card no." ng-pattern="/[0-9]/" required>
                                         <span style="color:#B4270F" ng-show=" myForm.card_no.$error.required">Required !</span>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Expiry Date</label>
                                    <div class="col-md-6">
                                        <select name="expiry_month" ng-model="user.expiry_month" required>
                                            <option value="">mm</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                        <span style="color:#B4270F" ng-show=" myForm.expiry_month.$error.required">Required !</span>
                                        
                                        <select name="expiry_year" ng-model="user.expiry_year" required>
                                            <option value="">yyyy</option>
                                            <option value="2015">2015</option>
                                            <option value="2016">2016</option>
                                            <option value="2017">2017</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                            <option value="2025">2025</option>
                                            <option value="2026">2026</option>
                                            <option value="2027">2027</option>
                                            <option value="2028">2028</option>
                                            <option value="2029">2029</option>
                                            <option value="2030">2030</option>
                                            <option value="2031">2031</option>
                                            <option value="2032">2032</option>
                                            <option value="2033">2033</option>
                                            <option value="2034">2034</option>
                                            <option value="2035">2035</option>
                                            <option value="2036">2036</option>
                                            <option value="2037">2037</option>
                                            <option value="2038">2038</option>
                                            <option value="2039">2039</option>
                                            <option value="2040">2040</option>
                                            <option value="2041">2041</option>
                                            <option value="2042">2042</option>
                                            <option value="2043">2043</option>
                                            <option value="2044">2044</option>
                                            <option value="2045">2045</option>
                                            <option value="2046">2046</option>
                                            <option value="2047">2047</option>
                                            <option value="2048">2048</option>
                                            <option value="2049">2049</option>
                                            <option value="2050">2050</option>
                                        </select>
                                        <span style="color:#B4270F" ng-show=" myForm.expiry_year.$error.required">Required !</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">CVV No.</label>
                                    <div class="col-md-6">
                                        <input id="cvv-no" name="cvv_no" class="form-control"  type="text" ng-model="user.cvv_no" placeholder= "Enter CVV No." ng-pattern="/[0-9]/" required>
                                        <span style="color:#B4270F" ng-show=" myForm.cvv_no.$error.required">Required !</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fieldemail" class="col-md-3 control-label">Email</label>
                                    <div class="col-md-6">
                                        <input id="fieldemail" name="user_emailATTSim" class="form-control" type="email"  ng-model="user.user_emailATTSim" placeholder= "Enter Email-ID" minlength="5"  required>
                                        <span style="color:#B4270F" ng-show=" myForm.user_emailATTSim.$error.required">Required !</span>
                                    </div>
                                </div>
                               
                                 <div class="form-group">
                                    <label for="fieldpass" class="col-md-3 control-label">Birth Date</label>
                                    <div class="col-md-6" ng-controller="dateATTSimCtr">
                                        <div class="containerATTSim" style="width: 100%; margin: 0px; padding: 0px;">
                                           <input
                                                id="input_01ATTSim"
                                                class="datepickerATTSim form-control"
                                                name="dobATTSim"
                                                ng-model="user.dobATTSim"
                                                type="text"
                                                placeholder="yyyy-mm-dd"
                                                autofocuss required>
                                        </div>  
                                    </div>
                                    <span style="color:#B4270F" ng-show=" myForm.dobATTSim.$error.required">Required !</span>
                                </div>
                            </fieldset>
                        </div>  
                       
                   
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                    <button type="submit" class="finish btn-success btn pull-right"  ng-disabled=" myForm.$invalid" ng-click="submit(user);">Pay Now</button>
                            </div>
                        </div>
                    </div>                     
                </form>
            </panel>
        </div>
    </div>
</div>
