    <div id="page-heading">
        <ul class="breadcrumb">
            <li><a href="#/">Dashboard</a></li>
            <li>Profile</li>
            <li class="active">Change Password</li>
        </ul>

        <h1>Profile</h1>
    </div>

    <div class="container-fluid">

        <panel panel-class="panel-midnightblue" heading="Change Password">
            <panel-controls>
                <panel-control-collapse></panel-control-collapse>
                <button class="button-icon"><i class="glyphicon glyphicon-cog"></i></button>
                <button class="button-icon"><i class="glyphicon glyphicon-wrench"></i></button> 
            </panel-controls>

            <form class="form-horizontal row-border" name="change_password"  >
               
                
				
                <div class="form-group">
                    <label  class="col-md-3 control-label">Current Password</label>
                    <div class="col-md-6">
                    	<input name="c_password" 
                    	class="form-control"  
                    	type="password" 
                    	ng-model="user.user_c_password" 
                    	placeholder= "Enter Current Password" 
                    	required
                        ng-storepassword> 
                            <div ng-show="change_password.c_password.$touched" >
                                <span style="color:#B4270F" ng-show=" change_password.c_password.$error.storepassword">Password Not Match.</span> 
                            </div>
                    </div>
                </div>

                <div class="form-group">
                    <label  class="col-md-3 control-label">New Password</label>
                    <div class="col-md-6">
                    	<input name="password" 
                    	class="form-control"  
                    	type="password" 
                    	ng-model="user.user_password" 
                    	placeholder= "Enter New Password" 
                    	required>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-md-3 control-label">Confirm New Password</label>
                    <div class="col-md-6">
						<input  name="cpassword" 
						class="form-control"  
						type="password" 
						ng-model="user.cpassword" 
						ng-pattern="user.user_password" 
						placeholder= "Enter Confirm  New Password" 
						required >
						<div ng-show="change_password.cpassword.$touched" >
							<span style="color:#B4270F" ng-show=" change_password.cpassword.$error.pattern">Password not match.</span> 
						</div>
					
					</div>
                </div>
               <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="btn-toolbar">
                                <button class="btn-primary btn" ng-disabled=" change_password.$invalid " ng-click="userchange(user);">Update</button>
                                
                            </div>
                        </div>
                    </div>
                </div>    
            </form>
        </panel>
    </div> <!-- container-fluid -->
	
	
	
	<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <panel panel-class="panel-sky" heading="Change Email and Phone">
             

                <form role="form" name="myForm"   class="form-horizontal" enctype="multipart/form-data" ng-repeat="user in profileList" >
                        <fieldset  >
                            <legend>Member</legend>
                          
                             <div class="form-group">
                                <label for="fieldname" class="col-md-3 control-label">Member Phone</label>
                                <div class="col-md-6">
                                    <input class="form-control" ng-model="user.contact_no"  type="text" required >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fieldname" class="col-md-3 control-label">Member Email</label>
                                <div class="col-md-6">
                                    <input  class="form-control" ng-model="user.user_email"  type="text" required>
                                </div>
                            </div>
                            
                           
                        </fieldset>
                     
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                    <button type="submit" class="finish btn-success btn pull-right"  ng-disabled=" myForm.$invalid" ng-click="storechange(user);">Update</button>
                            </div>
                        </div>
                    </div>                     
                </form>
            </panel>
        </div>
    </div>
</div>
