<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">{{lng_dashboard}}</a></li>
        <li class="active">New Leads</li>
    </ol>
    <h1>New Leads</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <panel panel-class="panel-sky" heading="New Leads Form">
                <panel-controls>
                    <button class="button-icon"><i class="glyphicon glyphicon-cog"></i></button>
                    <button class="button-icon"><i class="glyphicon glyphicon-wrench"></i></button> 
                </panel-controls>

                <form role="form" name="myForm"   class="form-horizontal" enctype="multipart/form-data"  ng-controller="MyCtrlLead">
                   
                        <legend>New Leads</legend>
                        
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Business Name</label>
                            <div class="col-md-6">
                                <input  class="form-control"ng-model="user.business_name"  type="text" placeholder= "Enter Business Name" ng-pattern="/[a-zA-Z]/" minlength="2" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Owner  Name</label>
                            <div class="col-md-6">
                                <input  class="form-control" ng-model="user.owner_name" ng-pattern="/[a-zA-Z]/" minlength="2" type="text" placeholder= "Enter Owner Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Type of Business</label>
                            <div class="col-md-6">
                                <input  class="form-control" ng-model="user.type_business" ng-pattern="/[a-zA-Z]/" minlength="2" type="text" placeholder= "Enter Type of Business" required>
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label for="fieldemail" class="col-md-3 control-label">Business Email</label>
                            <div class="col-md-6">
                                <input   class="form-control" type="email"  ng-model="user.business_email" placeholder= "Enter Business Email-ID" minlength="5"  required>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldpass" class="col-md-3 control-label">Phone no</label>
                            <div class="col-md-6"><input  class="form-control"  type="text" ng-model="user.contect_no" placeholder= "Enter Phone" ng-pattern="/[0-9]/" required></div>
                        </div>

						<div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Needed Equipment</label>
                            <div class="col-md-6">
                                <input  class="form-control" ng-model="user.equipment" ng-pattern="/[a-zA-Z]/" minlength="2" type="text" placeholder= "Enter Needed Equipment" required>
                            </div>
                        </div>
						<div class="form-group">
		                    <label for="fieldname" class="col-md-3 control-label">Internet Connection ?  </label>
		                    <div class="col-md-6" >
		                      <input type="radio" ng-model="user.internet" value="yes" >Yes
								<input type="radio" ng-model="user.internet" value="no">No  
								<input type="radio" ng-model="user.internet"  value="soon">Soon 
		                    </div>
		                </div>
                        <div class="form-group">
		                    <label for="fieldname" class="col-md-3 control-label">Comments </label>
		                    <div class="col-md-6">
		                        <textarea class="form-control"  ng-model="user.comments"></textarea>
		                    </div>
		                </div>

						<div class="form-group">
		                    <label for="fieldname" class="col-md-3 control-label">Business Picture</label>
		                    <div class="col-md-6">
		                     <input type="file" ngf-select ng-model="id_proof" ngf-accept="'image/*'" ngf-change="uploadIdProof($files)" />
                               <input  class="form-control"  type="hidden" ng-model="user.picID" >
		                    </div>
		                </div>
						               
                  
                         <div class="panel-footer">
		                    <div class="row">
		                        <div class="col-sm-6 col-sm-offset-3">
		                                <button type="submit" class="finish btn-success btn"  ng-disabled=" myForm.$invalid" ng-click="newleadtwo(user)">Submit</button>
		                        </div>
		                    </div>
		                </div>              
                    
                </form>
            </panel>
        </div>
    </div>
</div>
