<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">New Leads</li>
    </ol>
    <h1>New Leads</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <panel panel-class="panel-sky" heading="New Leads Form">
                <panel-controls>
                    <button class="button-icon"><i class="glyphicon glyphicon-cog"></i></button>
                    <button class="button-icon"><i class="glyphicon glyphicon-wrench"></i></button> 
                </panel-controls>

                <form role="form" name="myForm"   class="form-horizontal" enctype="multipart/form-data"  ng-controller="MyCtrlLead">
                   
                        <legend>New Leads {{latitude}}::{{longitude}}</legend>
                       
                       <!--  <div class="col-sm-6">
                             <div class="google-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3301.488426318422!2d-118.50353899999998!3d34.159428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c298312e07079f%3A0x25684d0d5b6dce79!2s17000+Ventura+Blvd+%23211%2C+Encino%2C+CA+91316%2C+USA!5e0!3m2!1sen!2sin!4v1435135319238" width="100%" height="450" frameborder="" style="border:1" allowfullscreen></iframe>
                                                                      
                            </div>
                        </div> -->

                         <div class="form-group">
                            <label for="fieldpass" class="col-md-3 control-label">Preferred Language</label>
                            <div class="col-md-6">
                                <select  class="form-control"  type="text" name="user_language" ng-model="user.user_language" required>
                                    <option value="">Select</option>
                                    <option value="English">English</option>
                                    <option value="Spanish">Spanish </option>
                                
                                </select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="fieldpass" class="col-md-3 control-label"> Upload Questionnaire:</label>
                            <div class="col-md-6">
                             
                               <input type="file" ngf-select ng-model="questionnaire" ngf-accept="'*'" ngf-change="uploadQuestionnaire($files)" />
                              
                                <input  class="form-control" name="user_questionnaire"  type="hidden" ng-model="user.user_questionnaire"  >
                             <!--   <span style="color:#B4270F" ng-show=" myForm.user_questionnaire.$error.required">this field required</span> -->
                                <span >Only For Solar Panels</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="fieldpass" class="col-md-3 control-label">Industry</label>
                            <div class="col-md-6">
                                <select  class="form-control"  type="text" name="industry" ng-model="user.industry" required>
                                    <option value="">Select</option>
                                    <option value="Merchant Services">Merchant Services</option>
                                    <option value="Solar Panels">Solar Panels</option>
                                    <option value="Electric/Gas">Electric/Gas</option>
                                    <option value="Printing">Printing</option>
                                    <option value="Other">Other (please specify)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="user.industry == 'Other'">
                            <label for="fieldpass" class="col-md-3 control-label">Other Industry</label>
                            <div class="col-md-6">
                                <input  class="form-control" ng-model="user.other_industry"  type="text" placeholder= "Enter Industry Name" ng-pattern="/[a-zA-Z]/" minlength="2" ng-required="user.industry == 'Other'">
                                
                            </div>
                        </div>
                        
                    
                        
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Business Name</label>
                            <div class="col-md-6">
                                <input  class="form-control"ng-model="user.business_name"  type="text" placeholder= "Enter Business Name" ng-pattern="/[a-zA-Z]/" minlength="2" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Owner  Name</label>
                            <div class="col-md-6">
                                <input  class="form-control" ng-model="user.owner_name" ng-pattern="/[a-zA-Z]/" minlength="2" type="text" placeholder= "Enter Owner Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Type of Business</label>
                            <div class="col-md-6">
                                <input  class="form-control" ng-model="user.type_business" ng-pattern="/[a-zA-Z]/" minlength="2" type="text" placeholder= "Enter Type of Business" required>
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label for="fieldemail" class="col-md-3 control-label">Email</label>
                            <div class="col-md-6">
                                <input   class="form-control" type="email"  ng-model="user.business_email" placeholder= "Enter  Email-ID" minlength="5"  >
                                
                            </div>
                        </div>
						<div class="form-group">
                            <label for="fieldpass" class="col-md-3 control-label">Phone number</label>
                            <div class="col-md-6"><input  class="form-control"  type="text" ng-model="user.contect_no" placeholder= "Enter Phone" ng-pattern="/[0-9]/" required></div>
                        </div>
                        <div class="form-group" >
                            <label for="fieldpass" class="col-md-3 control-label">Best time of contact</label>
                            <div class="col-md-2">
                               <!--  <select  class="form-control"  type="text" name="day" ng-model="user.day" required>
                                    <option value="">Day</option>
                                    <option value="Sun">Sun </option>
                                    <option value="Mon">Mon </option>
                                    <option value="Tue">Tue </option>
                                    <option value="Wed">Wed </option>
                                    <option value="Thu">Thu </option>
                                    <option value="Fri">Fri </option>
                                    <option value="Sat">Sat </option>
                                 
                                </select> -->
                                 <input  class="form-control" name="day" pickadate ng-model="user.day"  type="text" placeholder="yyyy-MM-dd" min="1950-01-01" max="2099-12-31" required readonly/>
                            </div>
                            <div class="col-md-1">
                                <select  class="form-control"  type="text" name="time" ng-model="user.time" required>
                                    <option value=""> Hour</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <select class="form-control"  type="text" name="time_m" ng-model="user.time_m" required>
                                    <option value=""> Minute</option>
                                    <option value="00">00</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select  class="form-control"  type="text" name="zone" ng-model="user.zone" required>
                                    <option value="">Time Zone</option>
                                    <option value="PST">PST </option>
                                    <option value="CST">CST </option>
                                  
                                    <option value="EST">EST </option>
            
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="user.industry == 'Merchant Services'">
                            <label for="fieldpass" class="col-md-3 control-label">Type of equipment needed</label>
                            <div class="col-md-6">
                                <select  class="form-control"  type="text" name="equipment" ng-model="user.equipment" ng-required="user.industry == 'Merchant Services'">
                                    <option value="">Select</option>
                                    <option value="POS">POS </option>
                                    <option value="Regular Terminal">Regular Terminal</option>
                                    <option value="Tablet with swiper">Tablet with swiper</option>
                                    <option value="Wireless Terminal">Wireless Terminal</option>
                                    <option value="I don't know">I don't know</option>
                                </select>
                            </div>
                        </div>
                         <div class="form-group" ng-show="user.industry == 'Solar Panels'">
                            <label for="fieldpass" class="col-md-3 control-label">Type of location </label>
                            <div class="col-md-6">
                                <select  class="form-control"  type="text" name="type_location" ng-model="user.type_location" ng-required="user.industry == 'Solar Panels'">
                                    <option value="">Select</option>
                                    <option value="Commercial">Commercial </option>
                                    <option value="Residential">Residential </option>
                                 
                                </select>
                            </div>
                        </div>

						<div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Location </label>
                            <div class="col-md-6">
                                <textarea class="form-control" placeholder= "Enter Address" ng-model="user.location" required></textarea>
                            </div>
                        </div>

                    

                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Type of lead  </label>
                            <div class="col-md-6" >
                                <div class="btn btn-danger btn-sm" ng-click="user.type_lead = 'Hot'">
                                  <input type="radio" ng-model="user.type_lead"  value="Hot" >
                              </div>
                              The prospect already knows about the product/service and is ready to buy<br><br>
                               <div class="btn btn-warning btn-sm" ng-click="user.type_lead = 'Warm'">
                                  <input type="radio" ng-model="user.type_lead"  value="Warm" >
                              </div>
                               The prospect already knows about the product/service and is interested in getting more information  <br><br>
                                <div class="btn btn-success btn-sm" ng-click="user.type_lead = 'Cold'">
                                  <input type="radio" ng-model="user.type_lead"  value="Cold" >
                              </div>
                                The prospect does not know anything about the product/service 
                            </div>
                        </div>

                        <div class="form-group" >
                            <label for="fieldpass" class="col-md-3 control-label">How did you get this prospect? </label>
                            <div class="col-md-6">
                                <select  class="form-control"  type="text" name="get_prospect" ng-model="user.get_prospect" required>
                                    <option value="">Select</option>
                                    <option value="Friend or family member"> Friend or family member</option>
                                    <option value="Done business together in the past"> Done business together in the past</option>
                                    <option value="Just met him/her"> Just met him/her</option>
                                    <option value="I don't know the prospect"> I don't know the prospect</option>
                                 
                                </select>
                            </div>
                        </div>
						
                        <div class="form-group">
		                    <label for="fieldname" class="col-md-3 control-label">Comments </label>
		                    <div class="col-md-6">
		                        <textarea class="form-control"  ng-model="user.comments" required></textarea>
		                    </div>
		                </div>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label"></label>
                            <div class="col-md-6">
                                <div id="message"></div>    
                            </div>
                        </div>
						
						       
                  
                         <div class="panel-footer">
		                    <div class="row">
		                        <div class="col-sm-6 col-sm-offset-3">
		                                <button type="submit" class="finish btn-success btn"  ng-disabled=" myForm.$invalid" ng-click="newleadtwo(user)">Submit</button>
		                        </div>
		                    </div>
		                </div>              
                    
                </form>
            </panel>
        </div>
    </div>
</div>
