    <div id="page-heading">
        <ul class="breadcrumb">
            <li><a href="#/">Dashboard</a></li>
            <li>Money</li>
            <li class="active">Add Credit</li>
        </ul>

        <h1>Add Credit</h1>
    </div>

    <div class="container-fluid">

        <panel panel-class="panel-midnightblue" heading="Buy Credit">
            <panel-controls>
                <panel-control-collapse></panel-control-collapse>
               
            </panel-controls>

            <form class="form-horizontal row-border" name="buy_credit"  >
                <div class="form-group">
                    <label  class="col-md-3 control-label">Earning Amount</label>
                    <div class="col-md-6">
                        <div class="form-control" ng-repeat="total in totalEarning">${{total.total}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-md-3 control-label">Your Store Credit </label>
                    <div class="col-md-6">
                        <div class="form-control" >{{creditTotal - dedutTotal}}</div>
                    </div>
                </div>


                <div class="form-group">
                    <label  class="col-md-3 control-label">Buy Store Credit</label>
                    <div class="col-md-6">
                        <input name="credit" 
                        class="form-control"  
                        type="text" 
                        ng-model="user.credit" 
                        placeholder= "Enter Credit Amount" 
                        required>
                    </div>
                </div>
   
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="btn-toolbar">
                                <button class="btn-primary btn" ng-disabled=" buy_credit.$invalid " ng-click="buy(user);">Buy</button>
                                
                            </div>
                        </div>
                    </div>
                </div>    
            </form>
        </panel>
    </div>

    <div class="container-fluid">

        <panel panel-class="panel-midnightblue" heading="Transfer Credit">
            <panel-controls>
                <panel-control-collapse></panel-control-collapse>
                <button class="button-icon"><i class="glyphicon glyphicon-cog"></i></button>
                <button class="button-icon"><i class="glyphicon glyphicon-wrench"></i></button> 
            </panel-controls>

            <form class="form-horizontal row-border" name="add_credit"  >
               <div class="form-group">
                    <label  class="col-md-3 control-label">User Name</label>
                    <div class="col-md-6">
                        <select class="form-control" name="user_id"  type="text" ng-model="user.user_id" >
                                    <option ng-repeat="total in sponserUser" value="{{total.user_id}}">{{total.user_name}}</option>
                                   <option ng-repeat="totaltop in sponserUserTop" value="{{totaltop.user_id}}">{{totaltop.user_name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label  class="col-md-3 control-label">Transfer Store Credit</label>
                    <div class="col-md-6">
                    	<input name="credit" 
                    	class="form-control"  
                    	type="text" 
                    	ng-model="user.credit" 
                    	placeholder= "Enter Credit Amount" 
                    	required>
                    </div>
                </div>
                
				<!-- <div class="form-group">
                    <label  class="col-md-3 control-label">Message</label>
                    <div class="col-md-6">
                        <textarea name="message" 
                        class="form-control"  
                        type="text" 
                        ng-model="user.message" 
                        placeholder= "Enter Messages" 
                        required></textarea> 
                    </div>
                </div> -->
				
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="btn-toolbar">
                                <button class="btn-primary btn" ng-disabled=" add_credit.$invalid " ng-click="creditChange(user);">Credit</button>
                                
                            </div>
                        </div>
                    </div>
                </div>    
            </form>
        </panel>
    </div>


<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <panel panel-class="panel-sky" heading="Credit List">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>

                 <div class="row">
                     <div class="col-md-2">PageSize:
                        <select ng-model="entryLimit" class="form-control">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                  
                    <div class="col-md-3">Filter:
                        <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                    </div>
                   
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr> 
                                <th>ID</th> 
                                <th>User Name</th>
                                <th>Rank</th>
                                <th>Credit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in filtered = (getCreditList | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td align="left">{{data.user_id}}</td> 
                                <td>{{data.user_name}}</td>
                                <td>{{data.level_name}}</td>
                                <td>{{data.credit}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" ng-show="filteredItems == 0">
                    <div class="col-md-12">
                        <h4>No Credit found</h4>
                    </div>
                </div>
                <div class="col-md-12" ng-show="filteredItems > 0">    
                    <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>  
                </div>
            </panel>
        </div>
    </div>
</div> -->

