    <div id="page-heading">
        <ul class="breadcrumb">
            <li><a href="#/">Dashboard</a></li>
            <li>MemberManagement</li>
            <li class="active">New Member</li>
        </ul>

        <h1>New Member</h1>
    </div>

    <div class="container-fluid">
         <panel panel-class="panel-midnightblue" heading="New Member">
            <panel-controls>
                <panel-control-collapse></panel-control-collapse>
                <button class="button-icon"><i class="glyphicon glyphicon-cog"></i></button>
                <button class="button-icon"><i class="glyphicon glyphicon-wrench"></i></button> 
            </panel-controls>
            <div class="table-responsive" align="center">
                <table class="table"  ng-repeat="data in archiveReportViewByIDList" style="width:70%">
                    <thead>
                        <tr>
                            <th>Label</th>
                            <th>Content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>User Name :</strong></td>
                            <td>{{data.user_name}}</td>                            
                        </tr>
                        <tr>
                            <td><strong>Package :</strong></td>
                            <td>{{data.package_name}}</td>                            
                        </tr>
                        <tr>
                            <td><strong>Address :</strong></td>                           
                            <td>
                                <div class="col-sm-12">{{data.ship_address}}</div>
                            </td>
                        </tr>
                         <tr>
                            <td><strong>Contact No :</strong></td>                           
                            <td>
                                <div>{{data.contact_no}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Zip Code :</strong></td>                           
                            <td>{{data.zip}}</td>
                        </tr>
                        <tr>
                            <td><strong>Country :</strong></td>                           
                            <td>{{data.country_name}}</td>
                        </tr>
                        <tr>
                            <td><strong>State :</strong></td>                           
                            <td>{{data.state}}</td>
                        </tr>
                        <tr>
                            <td><strong>City :</strong></td>                           
                            <td>{{data.city}}</td>
                        </tr>
                        <tr>
                            <td><strong>Shipping Status :</strong></td>                           
                            <td>{{data.archive_member_status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div><hr><br/>
            <form class="form-horizontal row-border" name="new_member_info" ng-repeat="user in archiveReportViewByIDList">
                <input type="hidden" ng-model="user.id" value="{{user.id}}">
                <input type="hidden" ng-model="user.user_id" value="{{user.user_id}}">
                <input type="hidden" ng-model="user.type" value="{{user.type}}">
                <div id="message"></div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Shipping Status :</label>
                    <div class="col-md-6">
                        <select class="form-control" name="archive_member_status" ng-model="user.archive_member_status">
                            <option value="">Select shipping status</option>
                            <option value="shipped">Shipped</option>
                            <option value="not shipped">Not Shipped</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Shipping ID :</label>
                    <div class="col-md-6">
                        <input type="text" placeholder="Enter Shipping ID" class="form-control" name="shipping_code" ng-model="user.shipping_code" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Shipping By</label>
                    <div class="col-md-6">
                        <input type="text" placeholder="Enter Shipping By" class="form-control" name="shipe_via" ng-model="user.shipe_via" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Shipping Date</label>
                    <div class="col-md-6">
                        <!-- <input type="text"  placeholder="yyyy-mm-dd"  class="form-control" pickadate ng-model="user.updated_at" format="yyyy-mm-dd" required/>  -->
                        <input type="text" name="shipp_date"  placeholder="yyyy-mm-dd"  class="form-control" pickadate ng-model="user.shipp_date" value="{{user.update_at}}" format="yyyy-mm-dd" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Comments</label>
                    <div class="col-md-6">
                        <textarea name="comments" class="form-control" ng-model="user.comments">Message...</textarea> 
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="btn-toolbar">
                                <button class="btn-primary btn" ng-disabled="new_member_info.$invalid" ng-click="update(user);">Submit</button>                                
                            </div>
                        </div>
                    </div>
                </div>    
            </form>
        </panel>
    </div> <!-- container-fluid -->
