<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Shipping Management</li>
    </ol>

    <h1>Shipping Management</h1>
  
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <panel panel-class="panel-sky" heading="Shipping Management">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <div class="row">
                     <div class="col-md-2">PageSize:
                        <select ng-model="entryLimit" class="form-control">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                  
                    <div class="col-md-3">Filter:
                        <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                    </div>
                     <div class="col-sm-6">
                        <form name="searchForm"><br/>
                            <div class="col-sm-5">
                               <input type="text"  placeholder="From Date"  class="form-control" pickadate ng-model="dateRangeSearch.from_date" readonly/> 
                            </div>
                            <div class="col-sm-5">
                                <input type="text"  placeholder="To Date"  class="form-control" pickadate ng-model="dateRangeSearch.to_date" readonly />
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn-primary btn" ng-click="update(dateRangeSearch);">Search</button>
                            </div>
                        </form>
                    </div>
                   
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID <a ng-click="sort_by('id');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Type<a ng-click="sort_by('type');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Status<a ng-click="sort_by('status');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Shipping ID <a ng-click="sort_by('shipping_code');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Shipe Via <a ng-click="sort_by('shipe_via ');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Created Date <a ng-click="sort_by('created_at ');"><i class="glyphicon glyphicon-sort"></i></a></th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in filtered = (List | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td align="left">{{data.id}}</td>
                                <td>{{data.type}}</td>
                                <td>{{data.status}}</td>
                                <td>{{data.shipping_code}}</td>
                                <td>{{data.shipe_via}}</td>
                                <td>{{data.created_at}}</td>
                                <!-- <td>
                                    <a href="#/update-followup-cold-leads/{{data.followup_id}}"  class="btn btn-primary btn-sm">{{data.followup_status}}</a>
                                </td> -->
                               
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" ng-show="filteredItems == 0">
                    <div class="col-md-12">
                        <h4>No Lead found</h4>
                    </div>
                </div>
                <div class="col-md-12" ng-show="filteredItems > 0">    
                    <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>  
                </div>
            </panel>
        </div>
    </div>
</div> <!-- container-fluid -->
