<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		
		<li class="active">Activation Voucher View</li>
	</ol>

	<h1>Activation Voucher View</h1>
	<div class="options">
            <div class="btn-toolbar">
                <div class="btn-group hidden-xs" data-dropdown>
                    <button class="btn btn-default dropdown-toggle" data-toggle='dropdown'><span class="hidden-sm"> Export as  </span><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Text File (*.txt)</a></li>
                        <li><a href="#">Excel File (*.xlsx)</a></li>
                        <li><a href="#">PDF File (*.pdf)</a></li>
                    </ul>
                </div>
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-cog"></i></a>
            </div>
        </div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6" align="center" style="float: none; margin: auto;">
			<div class="panel panel-default panel-profile">
				<div class="panel-body user-profile" ng-repeat="data in voucherViewList"><br/>
					
					<div class="user-detail">
						
						<div class="table-responsive">
							<h6 class="user-info">Activation Voucher View</h6>
							
							
							<div>
								<table  class="table table-condensed m0">
									<tbody>
										
										<tr>
											<td >Question #1</td>
											<td >{{data.q2}}</td>
										</tr>
										
										<tr>
											<td>Question #2</td>
											<td>${{data.q3}}</td>
										</tr>
										<tr>
											<td>Question #3</td>
											<td>${{data.q4}}</td>
										</tr>
										<tr>
											<td>voucher#</td>
											<td>{{data.ol_voucher}}</td>
										</tr>


										<tr>
											<td>By Admin User Name</td>
											<td>{{data.sim_user_name}}</td>
										</tr>
										<tr>
											<td>Area Code </td>
											<td>{{data.area_code}}</td>
										</tr>
										
										<tr>
											<td>Name </td>
											<td>{{data.first_name}} {{data.middle_name}} {{data.last_name}}</td>
										</tr>
										<tr>
												<td>Phone Number</td>
												<td>{{data.phone_number}}</td>
										</tr>
										<tr>
												<td>Email </td>
												<td>{{data.email}}</td>
										</tr>
										<tr>
												<td>Date of Birth </td>
												<td>{{data.dob}}</td>
										</tr>
										<tr>
											<td>Address </td>
											<td>{{data.address1}} {{data.address2}}</td>
										</tr>
										<tr>
											<td>City</td>
											<td>{{data.city}}</td>
										</tr>
										<tr>
											<td>State</td>
											<td>{{data.state}}</td>
										</tr>
										<tr>
											<td>Zip</td>
											<td>{{data.zip}}</td>
										</tr>

										<tr>
											<td>Race </td>
											<td>{{data.race}}</td>
										</tr>
										<tr>
											<td>Gender </td>
											<td>{{data.gender}}</td>
										</tr>
										<tr>
											<td>Preferred language? </td>
											<td>{{data.pref_lang}}</td>
										</tr>
										<tr>
											<td>Home owner?</td>
											<td>{{data.home_owner}}</td>
										</tr>
										<tr>
											<td>Business  owner?</td>
											<td>{{data.bus_owner}}</td>
										</tr>
										<tr>
											<td>Industry</td>
											<td>{{data.industry}}</td>
										</tr>
									
									
									</tbody>
								</table>
							</div>	
						</div>


						
						
					</div>
			</div>
			
					
			<form name="Form">
				<div class="form-group">
					<label>Enter Activation Sim number:</label>
						<input type="text" name="sim" class="form-control" ng-model="data.sim" placeholder="#Sim-code" ng-pattern="/^[0-9]+$/" style="width:55%"required >
						<span ng-show="Form.sim.$error.required">Enter Sim number to update</span>
						<span ng-show="Form.sim.$error.pattern">Enter Valid sim number to update</span>
				</div>
				<button type="button" class="btn btn-success btn-sm " ng-click="approve(data)" ng-disabled="Form.$invalid">Approve </button>
			  	<button type="button" class="btn btn-success btn-sm " ng-click="reject()">Reject</button>
		    </form>
		</div>
							
	                        
	           </div>
       </div>
</div>

<!-- container-fluid -->




