    <div id="page-heading">
        <ul class="breadcrumb">
            <li><a href="#/">Dashboard</a></li>
            <li>Settings</li>
            <li class="active">Add Level</li>
        </ul>

        <h1>Add Level</h1>
    </div>

    <div class="container-fluid">

        <panel panel-class="panel-midnightblue" heading="level">
            <panel-controls>
                <panel-control-collapse></panel-control-collapse>
                <button class="button-icon"><i class="glyphicon glyphicon-cog"></i></button>
                <button class="button-icon"><i class="glyphicon glyphicon-wrench"></i></button> 
            </panel-controls>

            <form class="form-horizontal row-border" enctype="multipart/form-data" name="add-level-form">
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Level Name</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="level_name" ng-model="level.level_name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">level Price</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="level_price" ng-model="level.level_price" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Quantity</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" name="level_qty" ng-model="level.level_qty" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Category</label>
                    <div class="col-md-6">
                        <select class="form-control" name="level_category" ng-model="level.level_category">
                            <option value="">Select Category</option>
                            <option ng-repeat="category in categoryList" value="{{category.category_id}}">{{category.category_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Binary Point</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="level_binary_point" ng-model="level.level_binary_point" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Status</label>
                    <div class="col-md-6">
                        <select class="form-control" name="level_status" ng-model="level.level_status">
                            <option value="">Select Status</option>
                            <option value="active">In stock</option>
                            <option value="inactive">Out of stock</option>
                        </select>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Date</label>
                    <div class="col-md-6">
                        <input type="date" class="form-control" id="date-picker"/> 
                    </div>
                </div> -->
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Description</label>
                    <div class="col-md-6">
                        <textarea class="form-control" name="level_desc" ng-model="level.level_desc" /></textarea>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="btn-toolbar">
                                <button type="submit" class="btn-primary btn" ng-click="addlevel(level);">submit</button>
                                <button class="btn btn-primary">Reset</button>
                                <a href="/view-level" class="btn btn-primary">View level</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </panel>
    </div> <!-- container-fluid -->
    <script type="text/javascript">
         $(document).ready(function () {
            var date = new Date();
            date.setDate(date.getDate() - 1);

            $("#date-picker" ).datepicker({
              changeMonth: true,
              changeYear: true,
              yearRange: "1950:2050",
            });
          }

        );
    </script>