    <div id="page-heading">
        <ul class="breadcrumb">
            <li><a href="#/">Dashboard</a></li>
            <li>Settings</li>
            <li class="active">Conversion Rate Settings</li>
        </ul>

        <h1>Conversion Rate Settings</h1>
    </div>

    <div class="container-fluid">

        <panel panel-class="panel-midnightblue" heading="Conversion Rate Settings">
            <panel-controls>
                <panel-control-collapse></panel-control-collapse>
            </panel-controls>

            <form class="form-horizontal row-border" name="cronJobSettings" novalidate  ng-repeat="cron in cronData">
                <div id="message"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Conversion Rate USD</label>
                    <div class="col-sm-6">
                        <input name="us_rate"
                            type="text"
                            value="{{cron.us_rate}}" 
                            required
                            placeholder="Enter USD Rate"
                            required ng-pattern="/[0-9]/"
                            ng-model="cron.us_rate"
                            class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Conversion Rate MEX</label>
                    <div class="col-sm-6">
                        <input name="mx_rate"
                            type="text"
                            value="{{cron.mx_rate}}" 
                            ng-pattern="/[0-9]/"
                            placeholder="Enter MEX Rate "
                            required
                            ng-model="cron.mx_rate"
                            class="form-control">
                    </div>
                </div>                 
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="btn-toolbar">
                                <button class="btn-primary btn" ng-click="update(cron);">Update</button>
                                <!-- <button class="btn btn-danger" ng-click="delete(cron)">Delete <span class="glyphicon glyphicon-trash"></span></button> -->
                                <!-- <button class="btn btn-primary">Reset</button> -->
                            </div>
                        </div>
                    </div>
                </div>    
            </form>
        </panel>
    </div> <!-- container-fluid -->
