    <div id="page-heading">
        <ul class="breadcrumb">
            <li><a href="#/">Dashboard</a></li>
            <li>Product Settings</li>
            <li class="active">Add Product</li>
        </ul>

        <h1>Edit Product</h1>
    </div>

    <div class="container-fluid">

        <panel panel-class="panel-midnightblue" heading="Product">
            <panel-controls>
                <panel-control-collapse></panel-control-collapse>
                <button class="button-icon"><i class="glyphicon glyphicon-cog"></i></button>
                <button class="button-icon"><i class="glyphicon glyphicon-wrench"></i></button> 
            </panel-controls>

            <form class="form-horizontal row-border" name="edit_product_form" ng-repeat="product in productData">
                <input type="hidden" ng-model="product.p_id" value="{{product.p_id}}"/>
                <div class="form-group">
                    <label class="col-md-3">&nbsp;</label>
                    <div class="col-md-6">
                        <img src="assets/uploads/{{product.product_image}}" alt="" class="img-responsive user-avatar" height="200" width="200">
                        
                        <div ng-controller="uploadProductImage">
                            <div class="row"> 
                                <div class="col-sm-6">
                                    <input type="hidden" name="id" ng-model="product.p_id" value="{{product.p_id}}"/>
                                    <input type="file" ngf-select=""  ng-model="picFile" name="picFile" required/>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn-success btn-sm" ng-disabled=" edit_product_form.picFile.$invalid" ng-click="editProductImage(picFile);">Update</button>
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Product Name</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="product_name" ng-model="product.product_name" value="product.product_name" required/>
                        <div ng-show="edit_product_form.product_name.$dirty " >
                                    <span style="color:#B4270F" ng-show=" edit_product_form.product_name.$error.required">this field is required.</span> 
                                    
                        </div>                    
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldpass" class="col-md-3 control-label">Country</label>
                    <div class="col-md-6">
                        <select id="country" class="form-control" name="country" type="text" ng-model="product.country" required>
                            <option value="">Select Country</option>
                            <option  value="US">USA</option>
                            <option value="MEX">Mexico</option>
                        </select>
                        <div ng-show="edit_product_form.country.$dirty" >
                            <span style="color:#B4270F" ng-show=" edit_product_form.country.$error.required">This field is required.</span> 
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="product.country=='US'">
                    <label for="fieldname" class="col-md-3 control-label">USA Price</label>
                    <div class="col-md-6">
                       <input type="text" class="form-control" name="us_product_price" ng-model="product.us_product_price" value="{{product.us_product_price}}" placeholder="US Price" ng-required="product.country=='US'"/>
                       <div ng-show="edit_product_form.us_product_price.$dirty " >
                            <span style="color:#B4270F" ng-show=" edit_product_form.us_product_price.$error.required">this field is required.</span> 
                        </div>
                    </div>
                </div>   
                <div class="form-group" ng-show="product.country=='MEX'">
                    <label for="fieldname" class="col-md-3 control-label">Mexican Price</label>
                    <div class="col-md-6">
                       <input type="text" class="form-control" name="mexico_product_price" ng-model="product.mexico_product_price" value="{{product.mexico_product_price}}"placeholder="Mexico Price" ng-required="product.country=='MEX'"/>
                       <div ng-show="edit_product_form.mexico_product_price.$dirty " >
                            <span style="color:#B4270F" ng-show=" edit_product_form.mexico_product_price.$error.required">this field is required.</span> 
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Shipping price</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="shipping_price" ng-pattern="/^\d+(\.\d{1,2})?$/" ng-model="product.shipping_price" value="{{product.shipping_price}}" placeholder="Shipping price"/>
                        <div ng-show="add_product_form.shipping_price.$touched" >
                            <!-- <span style="color:#B4270F" ng-show="add_product_form.us_product_price.$error">this field is required.</span>  -->
                            <span style="color:#B4270F" ng-show="add_product_form.shipping_price.$error.pattern">Price only</span> 
                        </div> 
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label"></label>
                    <div class="col-md-6">
                        If you want to set Level Price? : Yes/No <input type="checkbox" ng-model="product.checked1" value="1">
                    </div>
                </div>
                <div ng-show="product.checked1">
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Member Price</label>
                            <div class="col-md-6">
                                 <input type="text" class="form-control" name="member_price" value="{{product.member_price}}"  ng-model="product.member_price" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Representative Price</label>
                            <div class="col-md-6">
                               
                               <input type="text" class="form-control" name="representative_price" value="{{product.representative_price}}"  ng-model="product.representative_price" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Partner Price</label>
                            <div class="col-md-6">
                              
                               <input type="text" class="form-control" name="partner_price" value="{{product.partner_price}}"  ng-model="product.partner_price" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Brand Partner Price</label>
                            <div class="col-md-6">
                               
                                <input type="text" class="form-control" name="brand_partner_price" value="{{product.brand_partner_price}}"  ng-model="product.brand_partner_price" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Team Partner Price</label>
                            <div class="col-md-6">
                              
                                <input type="text" class="form-control" name="team_partner_price" value="{{product.team_partner_price}}"  ng-model="product.team_partner_price" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Team Lead Price</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="team_lead_price" value="{{product.team_lead_price}}"  ng-model="product.team_lead_price" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Director Price</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="director_price" value="{{product.director_price}}"  ng-model="product.director_price" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Regional Director Price</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="regional_price" value="{{product.regional_price}}" ng-model="product.regional_price" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">National Director Price</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="national_price" value="{{product.national_price}}" ng-model="product.national_price" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">International Director Price</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="international_price" ng-model="product.international_price" value="{{product.international_price}}" required/>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">VP Price</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="VP_price" ng-model="product.VP_price" value="{{product.VP_price}}" required/>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">President Price</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="p_price" ng-model="product.p_price" value="{{product.p_price}}" required/>
                            </div>
                        </div>

                         <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Ambassador Price</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="ambassador_price" ng-model="product.ambassador_price" value="{{product.ambassador_price}}" required/>
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Crown Ambassador Price</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="crown_ambassador_price" ng-model="product.crown_ambassador_price" value="{{product.crown_ambassador_price}}" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="fieldname" class="col-md-3 control-label">Store  Price</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="store_price" ng-pattern="/^\d+(\.\d{1,2})?$/" ng-model="product.store_price" value="{{product.store_price}}" required/>
                                
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Quantity</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="product_qty" ng-model="product.product_qty" value="{{product.product_qty}}" required/>
                        <div ng-show="edit_product_form.product_qty.$dirty " >
                                    <span style="color:#B4270F" ng-show=" edit_product_form.product_qty.$error.required">this field is required.</span> 
                                   
                                </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Category</label>
                    <div class="col-md-6">
                        <select class="form-control" name="product_category" ng-model="product.product_category" required>
                            <option value="">Select Category</option>
                            <option ng-repeat="category in categoryList" ng-hide="product.cat_id != category.category_id" value="{{category.category_id}}">{{category.category_name}}</option>
                        </select>
                        <div ng-show="edit_product_form.product_category.$dirty " >
                                    <span style="color:#B4270F" ng-show=" edit_product_form.product_category.$error.required">this field is required.</span> 
                                </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">BV Point</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="product_binary_point" ng-model="product.product_binary_point" value="{{product.product_binary_point}}" required/>
                        <div ng-show="edit_product_form.product_binary_point.$dirty " >
							<span style="color:#B4270F" ng-show=" edit_product_form.product_binary_point.$error.required">this field is required.</span> 
							
						</div>
                    </div>
                </div>
				<div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">QV Point</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="product_qv_point" ng-model="product.product_qv_point" value="{{product.product_qv_point}}" required/>
                        <div ng-show="edit_product_form.product_qv_point.$dirty " >
                            <span style="color:#B4270F" ng-show=" edit_product_form.product_qv_point.$error.required">this field is required.</span> 
                            
                        </div>
                    </div>
                </div>



                 <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Reward Point</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="reward_points" ng-pattern="/[0-9]/" ng-model="product.reward_points" value="{{product.reward_points}}" placeholder="Enter QV Point" required/>
                        <div ng-show="add_product_form.reward_points.$touched" >
                            <span style="color:#B4270F" ng-show=" add_product_form.reward_points.$error.required">this field is required.</span> 
                            <span style="color:#B4270F" ng-show=" add_product_form.reward_points.$error.pattern">number only</span> 
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Status</label>
                    <div class="col-md-6">
                        <select class="form-control" name="product_status" ng-model="product.product_status" required>
                            <option value="">Select Status</option>
                            <option value="active">In stock</option>
                            <option value="inactive">Out of stock</option>
                        </select>
                        <div ng-show="edit_product_form.product_status.$dirty " >
                                    <span style="color:#B4270F" ng-show=" edit_product_form.product_status.$error.required">this field is required.</span> 
                                </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Description</label>
                    <div class="col-md-6">
                        <textarea class="form-control" name="product_desc" ng-model="product.product_desc">{{product.product_desc}}</textarea>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="btn-toolbar">
                                <button type="submit" class="btn-primary btn" ng-disabled="edit_product_form.product_status.$invalid ||
                                edit_product_form.product_binary_point.$invalid ||
                                edit_product_form.product_category.$invalid ||
                                edit_product_form.product_qty.$invalid ||
                                edit_product_form.mexico_product_price.$invalid ||
                                edit_product_form.us_product_price.$invalid ||
                                edit_product_form.country.$invalid ||
                                edit_product_form.product_name.$invalid                   
                                " ng-click="update(product);">Update</button>
                                <a class="btn btn-danger" ng-click="delete(product);">Delete <span class="glyphicon glyphicon-trash"></span></a>
                                <button class="btn btn-primary">Reset</button>
                                <!-- <a href="/view-product" class="btn btn-primary">View Product</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </panel>
    </div> <!-- container-fluid -->