<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>WELCOME</li>
        
    </ol>

    <h1> </h1>
  
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <panel panel-class="panel-sky" heading="WELCOME">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <h1>WELCOME</h1>
                   
            </panel>
        </div>
    </div>
</div> <!-- container-fluid -->
