<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
        <li class="active">NEW LEADS</li>
    </ol>
    <h1>NEW LEADS</h1>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12" align="center" style="float: none; margin: auto;">
			<div class="panel panel-default panel-profile">
				<div class="panel-body user-profile" ng-repeat="user in htmlRestaurantLeadsListById"><br/>
					<div class="user-detail">
						Statement   Image:
						<div class="row" ng-hide="user.leadimageone == ''">
							<div class="col-sm-9">
									<img src="assets/cashout/{{user.leadimageone}}" alt="NO Image" class="img-responsive user-avatar" height="400" width="400">
							</div>
							<div class="col-sm-3">
									<a href="https://my.onlegacynetwork.com/assets/cashout/{{user.leadimageone}}" target="__blank" class="btn btn-pirmary pull-left">View</a>
							</div>
						</div>
						<div class="table-responsive">
							<table  class="table table-condensed m0">
								<tbody>
									<tr>
										<td >User Name</td>
										<td >{{user.username}}</td>
									</tr>
									<tr>
										<td >Business owner</td>
										<td >{{user.owner_business}}</td>
									</tr>

									<tr>
										<td >Currently processes credit cards</td>
										<td >{{user.processes_cc}}</td>
									</tr>

									<tr>
										<td >Does the client have contract</td>
										<td >{{user.client_contract}}</td>
									</tr>

									<tr>
										<td >How long</td>
										<td >{{user.client_contract_long}}</td>
									</tr>

									<tr>
										<td >sign up today bonus</td>
										<td >{{user.client_signup_today}}</td>
									</tr>
									<tr>
										<td >How much</td>
										<td >{{user.client_mex_offer}}</td>
									</tr>
									<tr>
										<td >Business Name</td>
										<td >{{user.business_name}}</td>
									</tr>
									<tr>
										<td >Business Type</td>
										<td >{{user.business_type}}</td>
									</tr>
									<tr>
										<td >Average annual sales</td>
										<td >{{user.average_sales}}</td>
									</tr>

									<tr>
										<td >contract  guarantee </td>
										<td >{{user.contract_guarantee}}</td>
									</tr>

									<tr>
										<td >Terminal type </td>
										<td >{{user.terminal_type}}</td>
									</tr>

									<tr>
										<td>First Name</td>
										<td>{{user.first_name}}</td>
									</tr>
									<tr>
										<td>Last Name</td>
										<td>{{user.last_name}}</td>
									</tr>
									
									<tr>
										<td>Phone #</td>
										<td>{{user.phone_no}}</td>
									</tr>
									<tr>
										<td>Email</td>
										<td>{{user.business_email}}</td>
									</tr>
									
									<tr>
										<td>DateTime to reach</td>
										<td>{{user.call_time}}</td>
									</tr>
									
									
									<tr>
										<td >Address</td>
										<td >{{user.address1}} {{user.address2}}</td>
									</tr>
									<tr>
										<td >City </td>
										<td >{{user.city}}</td>
									</tr>
									<tr>
										<td >State</td>
										<td >{{user.state}}</td>
									</tr>
									<tr>
										<td >Zip </td>
										<td >{{user.zip}}</td>
									</tr>
									

									<tr>
										<td>Prefer language</td>
										<td>{{user.prefer_lang}}</td>
									</tr>

									<tr>
										<td>Other language</td>
										<td>{{user.other_lang}}</td>
									</tr>

									<tr>
										<td>talked to the client about Merchant services</td>
										<td>{{user.merchant_talk}}</td>
									</tr>

									<tr>
										<td>client interested in getting Merchant Services</td>
										<td>{{user.merchant_interested}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="row" >
							<a href="#/new-merchant-leads-view"  class="btn btn-success btn-sm">Back</a>
							<button  ng-show="user.s_f_status == 'Pending'" class="btn btn-primary btn-sm "  ng-click="approve(user)">Approve </button>
						</div>
							
			            <form ng-show="user.s_f_status == 'Pending'" role="form" name="myForm"  class="form-horizontal" >
							<div class="form-group">
								<div id="message"></div>
							</div>
	                        <div class="form-group">
	                            <label for="fieldname" class="col-md-3 control-label">Reject Comment</label>
	                            <div class="col-md-6">
	                                <textarea class="form-control" name="comment" ng-model="user.reject_comment" ></textarea>
	                            </div>
	                        </div>
	                        <div class="panel-footer">
			                    <div class="row">
			                        <div class="col-sm-6 col-sm-offset-3">
			                                <button type="submit" class="finish btn-primary btn-sm pull-right"  ng-click="reject(user)">Reject</button>
			                        </div>
			                    </div>
			                </div>

							<br/>			                 
						</form>  
					</div>
				</div>
        	</div>
		</div>
	</div>
</div> <!-- container-fluid -->
