    <div id="page-heading">
        <ul class="breadcrumb">
            <li><a href="#/">Dashboard</a></li>
            <li class="active">New Leads View </li>
        </ul>

        <h1>New Leads View</h1>
    </div>

    <div class="container-fluid">

        <panel panel-class="panel-midnightblue" heading="New Leads View">
            <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <div class="row">
                    <div class="col-md-2">PageSize:
                        <select ng-model="entryLimit" class="form-control">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                  
                    <div class="col-md-3">Filter:
                        <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                    </div>
                     <div class="col-sm-6">
                        <form name="searchForm"><br/>
                            <div class="col-sm-5">
                               <input type="text"  placeholder="From Date"  class="form-control" pickadate ng-model="dateRangeSearch.from_date" readonly/> 
                            </div>
                            <div class="col-sm-5">
                                <input type="text"  placeholder="To Date"  class="form-control" pickadate ng-model="dateRangeSearch.to_date" readonly />
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn-primary btn" ng-click="update(dateRangeSearch);">Search</button>
                            </div>
                        </form>
                    </div>
                   
                </div>
                <br/>
           <!--  <form class="form-horizontal row-border" name="leads_view"> -->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID<a ng-click="sort_by('id');"><i class="glyphicon glyphicon-sort"></i></a></th>
								<th>User Name<a ng-click="sort_by('user_name');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                
                                <th>Business Name<a ng-click="sort_by('business_name');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Owner Name<a ng-click="sort_by('owner_name');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Business Type<a ng-click="sort_by('type_business');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Business Email<a ng-click="sort_by('business_email');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Phone #<a ng-click="sort_by('contect_no');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Day/Time To Call<a ng-click="sort_by('day');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th><!-- Comment --></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in filtered = (cashoutList | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td align="left">{{data.id}}</td>
								<td>{{data.user_name}}</td>
                               
                                <td>{{data.business_name}}</td>
                                <td>{{data.owner_name}}</td>
                                <td>{{data.type_business}}</td>
                                <td>{{data.business_email}}</td>
                                <td>{{data.contect_no}}</td>
                                <td>{{data.day}} {{data.time}}:{{data.time_m}} {{data.zone}} </td>

                                <td><!-- {{data.comments}} -->
                                <a href="#/view-leads-comments/{{data.id}}"  class="btn btn-success btn-sm">view</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" ng-show="filteredItems == 0">
                    <div class="col-md-12">
                        <h4>No Leads</h4>
                    </div>
                </div>
                <div class="col-md-12" ng-show="filteredItems > 0">    
                    <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>  
                </div>
            <!-- </form> -->
        </panel>
    </div> <!-- container-fluid -->
