    <div id="page-heading">
        <ul class="breadcrumb">
            <li><a href="#/">Dashboard</a></li>
           
            <li class="active">Product</li>
        </ul>

        <h1>Product Order</h1>
    </div>

    <div class="container-fluid">

        <panel panel-class="panel-midnightblue" heading="Product Order">
            <form class="form-horizontal row-border" name="ProductOrder">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-md-3">PageSize:
                            <select ng-model="entryLimit" class="form-control">
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                        <div class="col-md-9">Filter:
                            <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <form name="searchForm"><br/>
                            <div class="col-sm-5">
                               <input type="text"  placeholder="From Date"  class="form-control" pickadate ng-model="dateRangeSearch.from_date" readonly/> 
                            </div>
                            <div class="col-sm-5">
                                <input type="text"  placeholder="To Date"  class="form-control" pickadate ng-model="dateRangeSearch.to_date" readonly />
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn-primary btn" ng-click="update(dateRangeSearch);">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User ID <a ng-click="sort_by('user_id');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <!-- <th>Site User Name <a ng-click="sort_by('siteName');"><i class="glyphicon glyphicon-sort"></i></a></th> -->
                                <th>User Name <a ng-click="sort_by('user_name');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Shipping Status <a ng-click="sort_by('shipping_status');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Shipping Date <a ng-click="sort_by('shipping_create_at');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Shipped Via <a ng-click="sort_by('shipping_by');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Tracking Id <a ng-click="sort_by('shipping_id');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th> </th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in filtered = (newMemberArchiveReportList | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td align="left">{{data.user_id}}</td>
                                <!-- <td>{{data.siteName}}</td> -->
                                <td>{{data.user_name}}</td>
                                <td ng-show="data.shipping_status == '2'">Shipped</td>
                                <td ng-hide="data.shipping_status == '2'">Not Shipped</td>
                                <th>{{data.shipping_create_at}}</th>
                                <td>{{data.shipping_by}}</td>
                                <th>{{data.shipping_id}}</th>
                                <td>
                                    <a href="#/update-new-member-archive-report/{{data.user_id}}"  class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" ng-show="filteredItems == 0">
                    <div class="col-md-12">
                        <h4>No Orders found</h4>
                    </div>
                </div>
                <div class="col-md-12" ng-show="filteredItems > 0">    
                    <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>  
                </div>
            </form>
        </panel>
    </div> <!-- container-fluid -->
