    <div id="page-heading">
        <ul class="breadcrumb">
            <li><a href="#/">Dashboard</a></li>
           
            <li class="active">Platforms</li>
        </ul>

        <h1>Platforms</h1>
    </div>

    <div class="container-fluid">

        <panel panel-class="panel-midnightblue" heading="Platforms">
            <div class="row">
                 <div class="col-md-2">PageSize:
                    <select ng-model="entryLimit" class="form-control">
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </div>
              
                <div class="col-md-3">Filter:
                    <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                </div>
               
            </div>
            <br/>
            <form class="form-horizontal row-border" name="cashoutForm">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID<a ng-click="sort_by('user_id');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <!-- <th>Image</th> -->
								<th>Platforms Name<a ng-click="sort_by('platforms_name');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>User Name<a ng-click="sort_by('user_name');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Last Name<a ng-click="sort_by('last_name');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>User Email<a ng-click="sort_by('user_email');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Phone<a ng-click="sort_by('phone');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Status<a ng-click="sort_by('platform_status');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Date<a ng-click="sort_by('created_at');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in filtered = (cashoutList | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td align="left">{{data.user_id}}</td>
								<td>{{data.platforms_name}}</td>
                                <td>{{data.user_name}}</td>
                                <td>{{data.last_name}}</td>
                                <td>{{data.user_email}}</td>
                                <td>{{data.phone}}</td>
                                <td ng-show="data.platform_status == 1">Approved</td>
                                <td ng-show="data.platform_status == 2">Not Approved</td>
                                <td>{{data.created_at}}</td>
                                <td>
                                    <a href="#/view-platforms-image/{{data.id}}"  class="btn btn-success btn-sm">View Image</a>
                                </td>
                              
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" ng-show="filteredItems == 0">
                    <div class="col-md-12">
                        <h4>No Cashout found</h4>
                    </div>
                </div>
                <div class="col-md-12" ng-show="filteredItems > 0">    
                    <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>  
                </div>
            </form>
        </panel>
    </div> <!-- container-fluid -->
