    <div id="page-heading">
        <ul class="breadcrumb">
            <li><a href="#/">Dashboard</a></li>
            <li>Platforms</li>
            <li class="active">Platforms List</li>
        </ul>

        <h1>Platforms List</h1>
    </div>

    <div class="container-fluid">

        <panel panel-class="panel-midnightblue" heading="Platforms List">
            <form class="form-horizontal row-border" name="cashoutForm">
                 <div class="row">
                     <div class="col-md-2">PageSize:
                        <select ng-model="entryLimit" class="form-control">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                  
                    <div class="col-md-3">Filter:
                        <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                    </div>
                   
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID<a ng-click="sort_by('id');"><i class="glyphicon glyphicon-sort"></i></a></th>
                               
                                <th>Platforms Name<a ng-click="sort_by('platforms_name');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Platforms Url<a ng-click="sort_by('platforms_url');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Platforms Image<a ng-click="sort_by('platforms_image');"><i class="glyphicon glyphicon-sort"></i></a></th>
                               <th> </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in filtered = (cashoutList | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td align="left">{{data.id}}</td>
                            
                                <td>{{data.platforms_name}}</td>
                                <td>{{data.platforms_url}}</td>
                                 <td><img class="img-circle" alt="Dangerfield" src="./uploads/{{data.platforms_image}}" style="height: 70px; width: 70px;">
                                                        </td>
                                 <td>
                                    <a href="#/edit-platforms/{{data.id}}"  class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
                                </td>
                              
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" ng-show="filteredItems == 0">
                    <div class="col-md-12">
                        <h4>No found</h4>
                    </div>
                </div>
                <div class="col-md-12" ng-show="filteredItems > 0">    
                    <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>  
                </div>
            </form>
        </panel>
    </div> <!-- container-fluid -->
