    <div id="page-heading">
        <ul class="breadcrumb">
            <li><a href="#/">Dashboard</a></li>
             <li > Platform</li>
           <li class="active">Platform User Mapping</li>
        </ul>

        <h1>Platform User Mapping</h1>
    </div>

    <div class="container-fluid">
        <panel panel-class="panel-midnightblue" heading="Platform User Mapping">
            <panel-controls>
                <panel-control-collapse></panel-control-collapse>
            </panel-controls>

           <form role="form" name="myForm"  class="form-horizontal" >
                <div class="form-group">
                    <label for="fieldpass" class="col-md-3 control-label"> User Name</label>
                    <div class="col-md-3">
                        <select multiple class="form-control" name="mapping_user_id" ng-model="user.mapping_user_id" required style="height:200px">
                           <!--  <option value=""><strong>Select User Name</strong></option> -->
                            <option ng-repeat="total in UList" value="{{total.user_id}}">{{total.user_name}}</option>
                        </select>

                    </div>
                    <div class="col-md-3">
                        <select multiple class="form-control" name="mapping_platform_id" ng-model="user.mapping_platform_id" required style="height:200px">
                          <!--   <option value=""><strong>Select Platform Name</strong></option> -->
                             <option ng-repeat="total in PList" value="{{total.id}}">{{total.platforms_name}}</option>
                        </select>
                    </div>
                    <label for="fieldname" class="col-md-3 ">Platform Name</label>
                </div>
                
               
               <!--  <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Platform Name</label>
                    <div class="col-md-6">
                        <select multiple class="form-control" name="mapping_platform_id" ng-model="user.mapping_platform_id" required style="height:200px">
                            <option value=""><b>Select Platform Name</b></option>
                             <option ng-repeat="total in PList" value="{{total.id}}">{{total.platforms_name}}</option>
                        </select>
                    </div>
                </div> -->

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button type="submit" class="finish btn-primary btn-sm pull-right" ng-disabled=" myForm.$invalid" ng-click="add(user)">Add</button>
                        </div>
                    </div>
                </div>
            </form>
        </panel>
    </div>


    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <panel panel-class="panel-sky" heading="Platform User Mapping List">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <div class="row">
                     <div class="col-md-2">PageSize:
                        <select ng-model="entryLimit" class="form-control">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                  
                    <div class="col-md-3">Filter:
                        <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                    </div>
                    
                   
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Mapping ID <a ng-click="sort_by('mapping_id');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>User Name<a ng-click="sort_by('user_name');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Platform Name<a ng-click="sort_by('platforms_name');"><i class="glyphicon glyphicon-sort"></i></a></th>
                               
                                <th>Delete Mapping</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in filtered = (List | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td align="left">{{data.mapping_id}}</td>
                                <td>{{data.user_name}}</td>
                                <td>{{data.platforms_name}}</td>
                                <td>
                                    <form name="deleteForm"><br/>
                                    <input type="hidden"  ng-model="data.mapping_id" value="{{data.mapping_id}}"> 
                                    

                                   <button type="submit" class="btn btn-danger btn-sm" ng-click="delete(data);"><span class="glyphicon glyphicon-trash"></span></button>
                                   </form>
                                </td>
                               
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" ng-show="filteredItems == 0">
                    <div class="col-md-12">
                        <h4>No Mapping found</h4>
                    </div>
                </div>
                <div class="col-md-12" ng-show="filteredItems > 0">    
                    <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>  
                </div>
            </panel>
        </div>
    </div>
</div> <!-- container-fluid -->
