<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		
		<li class="active">Refer A Store</li>
	</ol>

	<h1>Refer A Store</h1>
	<div class="options">
            <div class="btn-toolbar">
                <div class="btn-group hidden-xs" data-dropdown>
                    <button class="btn btn-default dropdown-toggle" data-toggle='dropdown'><span class="hidden-sm"> Export as  </span><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Text File (*.txt)</a></li>
                        <li><a href="#">Excel File (*.xlsx)</a></li>
                        <li><a href="#">PDF File (*.pdf)</a></li>
                    </ul>
                </div>
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-cog"></i></a>
            </div>
        </div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6" align="center" style="float: none; margin: auto;">
			<div class="panel panel-default panel-profile">
				<div class="panel-body user-profile" ng-repeat="data in rejectedAStoreByUserList"><br/>
					
					<div class="user-detail">
						
						<div class="table-responsive">
							<h6 class="user-info">Refer A Store</h6>
							
								<table  class="table table-condensed m0">
									<tbody>
										<tr>
												<td style="border-top: 0">User ID</td>
												<td style="border-top: 0">{{data.user_id}}</td>
											</tr>
											<tr>
												<td>Dealer Code</td>
												<td>{{data.dealer_code}}</td>
											</tr>
											<tr>
												<td>User Name</td>
												<td>{{data.user_name}}</td>
											</tr>
											<tr>
												<td>Name</td>
												<td>{{data.first_name}} {{data.last_name}}</td>
											</tr>
											<tr>
												<td>Email</td>
												<td>{{data.user_email}}</td>
											</tr>
											<tr>
												<td >Phone</td>
												<td >{{data.contact_no}}</td>
											</tr>
											
											<tr>
												<td>Address</td>
												<td>{{data.address}}</td>
											</tr>
											<tr>
												<td>City</td>
												<td>{{data.city}}</td>
											</tr>
											<tr>
												<td >State</td>
												<td >{{data.state}}</td>
											</tr>
											<tr>
												<td >Zip</td>
												<td >{{data.zip}}</td>
											</tr>
										
											<tr>
												<td>Name of Business</td>
												<td>{{data.business_name}}</a></td>
											</tr>
											<tr>
												<td>Owner Name</td>
												<td>{{data.owner_name}}</td>
											</tr>
											<tr>
												<td >User Rejected Comment</td>
												<td >{{data.user_reject_comment}}</td>
											</tr>
											<tr>
												<td >Agreement Rejected Comment</td>
												<td >{{data.doc_reject_comment}}</td>
											</tr>
											<!-- <tr>
												<td>Phone Number</td>
												<td>{{data.phone_number}}</td>
											</tr>
											
											<tr>
												<td>Account #</td>
												<td>{{data.account}}</td>
											</tr>
											<tr>
												<td>Zip Code</td>
												<td>{{data.zip_code}}</td>
											</tr> -->
										</tbody>
								</table>
						
						</div>


						
						
					</div>
				</div>
				<div class="row" >
						<!-- 	<div  class="col-sm-6">
		                        <button type="button" class="btn btn-success btn-sm pull-right" ng-click="approve()">Approve </button>
		                    </div> -->
							<!-- <div  class="col-sm-6">
		                        <button class="btn btn-success btn-sm pull-left" data-toggle="modal" data-target="#reject-model">Reject </button>
		                    </div> --><br><br>
	                    
	                        
	                    </div>
        	</div>
		</div>
	</div>


</div> <!-- container-fluid -->




<div class="modal fade" tabindex="-1" role="dialog" id="reject-model" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Reject </h4>
      </div>
      <div class="modal-body" >
      	<form role="form" name="myForm2"  class="form-horizontal" >
			
			<div class="form-group">
                <label for="fieldname" class="col-md-3 control-label">Comment </label>
                <div class="col-md-6">
                	
                    <textarea class="form-control" name="comment" ng-model="rejectuser.comment" required></textarea>
                </div>
            </div>
		
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                        <button type="submit" class="finish btn-success btn-sm"  ng-disabled=" myForm2.$invalid" data-dismiss="modal" ng-click="reject(rejectuser)">Reject</button>
                </div>
            </div>
            
		</form> 
		           
      </div>
      <div class="modal-footer" align="center" style="border-top: medium none;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
