<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Transfer Sim</li>
    </ol>

    <h1>Transfer Sim</h1>
  
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <panel panel-class="panel-sky" heading="Transfer Sim">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <div class="row">
                     <div class="col-md-2">PageSize:
                        <select ng-model="entryLimit" class="form-control">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                  <form>
                    <div class="col-md-3">Filter:
                        <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                    </div>
                     <div class="col-sm-6">
                        <form name="searchForm"><br/>
                            <div class="col-sm-5">
                               <input type="text"  placeholder="From Date"  class="form-control" pickadate ng-model="dateRangeSearch.from_date" readonly/> 
                            </div>
                            <div class="col-sm-5">
                                <input type="text"  placeholder="To Date"  class="form-control" pickadate ng-model="dateRangeSearch.to_date" readonly />
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn-primary btn" ng-click="updateResult(dateRangeSearch);">Search</button>
                            </div>
                        </form>
                    </div>
                    
                  </form>
                    </div>
                   
            
                <br/>
                <div class="table-responsive">
                    <table class="table">
                        
                        <thead>
                              
                            <tr>
                                <th>Transfer Id<a ng-click="sort_by('transfer_id');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>To user(Id)<a ng-click="sort_by('to_user_id');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Transfer to User(Name)<a ng-click="sort_by('to_user_name');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Sim number<a ng-click="sort_by('transfer_sim_no');"><i class="glyphicon glyphicon-sort"></i></a></th>
                               <th>From User(ID) <a ng-click="sort_by('from_user_id');"><i class="glyphicon glyphicon-sort"></i></a></th>
                               <th>From User(Name)<a ng-click="sort_by('from_user_name');"><i class="glyphicon glyphicon-sort"></i></a></th>
                               <th>Transfer Date<a ng-click="sort_by('transfer_date');"><i class="glyphicon glyphicon-sort"></i></a></th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in filtered = (TransferList | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                 <td align="left">{{data.transfer_id}}</td>
                                <td>{{data.to_user_id}}</td>
                                <td><span ng-show="{{data.to_user_id | limitTo: 5}} == '11111'"> Store_</span>{{data.to_user_name}}</td>
                                <td>{{data.transfer_sim_no}}</td>
                                <td>{{data.from_user_id}}</td>
                                <td><span ng-show="{{data.from_user_id | limitTo: 5}} == '11111'"> Store_</span>{{data.from_user_name}}</td>
                                <td>{{data.transfer_date}}</td>
                                                
                               
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12" ng-show="filteredItems == 0">
                    <div class="col-md-12">
                        <h4>No Transfer Sim found</h4>
                    </div>
                </div>
                <div class="col-md-12" ng-show="filteredItems > 0">    
                    <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>  
                </div>
            </panel>
            </div>
        </div>
    
</div> <!-- container-fluid -->
