    <div id="page-heading">
        <ul class="breadcrumb">
            <li><a href="#/">Dashboard</a></li>
            <li>Upgrade</li>
            <li class="active">User Upgrade List</li>
        </ul>

        <h1>User Upgrade List</h1>
    </div>

    <div class="container-fluid">

        <panel panel-class="panel-midnightblue" heading="User Upgrade List">
            <form class="form-horizontal row-border" name="cashoutForm">
            	<div class="row">
                    <div class="col-sm-6">
                        <div class="col-md-3">PageSize:
                            <select ng-model="entryLimit" class="form-control">
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                        <div class="col-md-9">Filter:
                            <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <form name="searchForm"><br/>
                            <div class="col-sm-5">
                               <input type="text"  placeholder="From Date"  class="form-control" pickadate ng-model="dateRangeSearch.from_date" readonly/> 
                            </div>
                            <div class="col-sm-5">
                                <input type="text"  placeholder="To Date"  class="form-control" pickadate ng-model="dateRangeSearch.to_date" readonly />
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn-primary btn" ng-click="update(dateRangeSearch);">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID <a ng-click="sort_by('upgrade_id');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>User Name <a ng-click="sort_by('user_name');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Package <a ng-click="sort_by('package_name');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Status <a ng-click="sort_by('shipping_status');"><i class="glyphicon glyphicon-sort"></i></a></th> 
                                <th>Upgrated at <a ng-click="sort_by('upgrade_at');"><i class="glyphicon glyphicon-sort"></i></a></th>   
                                <th></th>                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in filtered = (upgradeUserList | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td align="left">{{data.upgrade_id}}</td>
								<td>{{data.user_name}}</td>
                                <td>{{data.package_name}}</td>
                                <td>{{data.shipping_status}}</td>
                                <td>{{data.upgrade_at}}</td>
                                <td>
                                    <a href="#/update-upgrade-member-archive-report/{{data.upgrade_id}}"  class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" ng-show="filteredItems == 0">
                    <div class="col-md-12">
                        <h4>No found</h4>
                    </div>
                </div>
                <div class="col-md-12" ng-show="filteredItems > 0">    
                    <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>  
                </div>
            </form>
        </panel>
    </div> <!-- container-fluid -->
