    <div id="page-heading">
        <ul class="breadcrumb">
            <li><a href="#/">Dashboard</a></li>
            <li>Archive Report</li>
            <li class="active">New Member Archive Report</li>
        </ul>

        <h1>New Member Archive Report</h1>
    </div>

    <div class="container-fluid" ng-repeat="user in newMemberArchiveReportByIDList">
         <panel panel-class="panel-midnightblue" heading="New Member Archive Report">
            <panel-controls>
                <panel-control-collapse></panel-control-collapse>
                <button class="button-icon"><i class="glyphicon glyphicon-cog"></i></button>
                <button class="button-icon"><i class="glyphicon glyphicon-wrench"></i></button> 
            </panel-controls>

            <div class="table-responsive" align="center">
                <table class="table" style="margin-bottom: 0px;">
                    <tbody class="selects">
                        <tr>
                            <td><strong>User Name :</strong></td>
                            <td>{{user.user_name}}</td>                            
                        </tr>
                        <tr>
                            <td><strong>Package :</strong></td>
                            <td>{{user.package_name}}</td>                            
                        </tr>
                        <tr>
                            <td><strong>Address :</strong></td>                           
                            <td>
                                <div class="col-sm-12">{{user.address1}}&nbsp;&nbsp;{{user.address2}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Zip Code :</strong></td>                           
                            <td>{{user.zip}}</td>
                        </tr>
                        <tr>
                            <td><strong>Country :</strong></td>                           
                            <td>{{user.country_name}}</td>
                        </tr>
                        <tr>
                            <td><strong>State :</strong></td>                           
                            <td>{{user.state}}</td>
                        </tr>
                        <tr>
                            <td><strong>City :</strong></td>                           
                            <td>{{user.city}}</td>
                        </tr>
                        <tr>
                            <td><strong>Shipping Status :</strong></td>                           
                            <td ng-show="user.shipping_status == '2'">Shipped</td>
                            <td ng-hide="user.shipping_status == '2'">Not Shipped</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <br/>
            <form class="form-horizontal row-border" name="new_member_info">
                <input type="hidden" ng-model="user.s_id" value="{{user.s_id}}"/>
                <input type="hidden" ng-model="user.user_id" value="{{user.user_id}}"/>
                <input type="hidden" ng-model="user.address1" value="{{user.address1}}"/>
                <input type="hidden" ng-model="user.address2" value="{{user.address2}}"/>
                <input type="hidden" ng-model="user.country_name" value="{{user.country_name}}"/>
                <input type="hidden" ng-model="user.state" value="{{user.state}}"/>
                <input type="hidden" ng-model="user.city" value="{{user.city}}"/>
                <input type="hidden" ng-model="user.zip" value="{{user.zip}}"/>
                <input type="hidden" ng-model="user.contact_no" value="{{user.contact_no}}"/>
                <div id="message"></div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Shipping Status :</label>
                    <div class="col-md-6">
                        <!-- <input type="text" placeholder="Enter Shipping ID" class="form-control" name="shipping_id" ng-model="user.shipping_id" required/> -->
                        <select class="form-control" name="shipping_status" ng-model="user.shipping_status">
                            <option value="">Select Shipping Status</option>
                            <option value="2">Shipped</option>
                            <option value="0">Not Shipped</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Shipping ID :</label>
                    <div class="col-md-6">
                        <input type="text" placeholder="Enter Shipping ID" class="form-control" name="shipping_id" ng-model="user.shipping_id" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Shipping By</label>
                    <div class="col-md-6">
                        <input type="text" placeholder="Enter Shipping By" class="form-control" name="shipping_by" ng-model="user.shipping_by" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Shipping Date</label>
                    <div class="col-md-6">
                        <input type="text"  placeholder="yyyy-mm-dd"  class="form-control" pickadate ng-model="user.shipping_date" format="yyyy-mm-dd" required/> 
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldname" class="col-md-3 control-label">Comments</label>
                    <div class="col-md-6">
                        <textarea name="shipping_comments" class="form-control" ng-model="user.shipping_comments">Message...</textarea> 
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="btn-toolbar">
                                <button class="btn-primary btn" ng-disabled="new_member_info.$invalid" ng-click="update(user);">Update</button>                                
                            </div>
                        </div>
                    </div>
                </div>    
            </form>
        </panel>
    </div> <!-- container-fluid -->
