<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Settings</li>
        <li class="active">Voucher View</li>
    </ol>

    <h1>Voucher</h1>
    <div class="options">
        <div class="btn-toolbar">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                    Export as <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <panel panel-class="panel-sky" heading="Voucher">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                    <a class="button-icon"><i class="glyphicon glyphicon-cog"></i></a>
                    <a class="button-icon"><i class="glyphicon glyphicon-wrench"></i></a>
                     
                </panel-controls>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-md-3">PageSize:
                            <select ng-model="entryLimit" class="form-control">
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                        <div class="col-md-9">Filter:
                            <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                        </div>
                    </div>
                    <!-- <div class="col-sm-6">
                        <form name="searchForm"><br/>
                            <div class="col-sm-5">
                               <input type="text"  placeholder="From Date"  class="form-control" pickadate ng-model="dateRangeSearch.from_date" readonly/> 
                            </div>
                            <div class="col-sm-5">
                                <input type="text"  placeholder="To Date"  class="form-control" pickadate ng-model="dateRangeSearch.to_date" readonly />
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn-primary btn" ng-click="update(dateRangeSearch);">Search</button>
                            </div>
                        </form>
                    </div> -->
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID <a ng-click="sort_by('voucher_id');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Name <a ng-click="sort_by('voucher_name');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>VoucherCode <a ng-click="sort_by('voucher_code');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Description <a ng-click="sort_by('voucher_desc');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Status <a ng-click="sort_by('voucher_status');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Used <a ng-click="sort_by('used');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in filtered = (voucherList | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td align="left">{{data.voucher_id}}</td>
                                <td>{{data.voucher_name}}</td>
                                <td>{{data.voucher_code}}</td>
                                <td>{{data.voucher_desc}}</td>
                                <!-- <td>{{data.voucher_validity}}</td> -->
                                <td>{{data.voucher_status}}</td>
                                <td>{{data.used}}</td>
                                <td>
                                    <a href="#"  class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" ng-show="filteredItems == 0">
                    <div class="col-md-12">
                        <h4>No Voucher found</h4>
                    </div>
                </div>
                <div class="col-md-12" ng-show="filteredItems > 0">    
                    <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>  
                </div>
            </panel>
        </div>
    </div>
</div> <!-- container-fluid -->
